/*
    Some code are borrowed from Debian and Moinmoin's offical stylesheets
*/

@charset 'UTF-8';
 
/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/typicons.eot');
  src: url('/assets/fonts/typicons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/typicons.woff') format('woff'),
       url('/assets/fonts/typicons.ttf') format('truetype'),
       url('/assets/fonts/typicons.svg#typicons') format('svg');
}

.fai {
    font-family: typicons;
}

* {
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box; 
}

body {
    margin: 0;
    font: normal 14px Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.5;
    color: #222;
    background-color: white;
}

pre {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

#container {
    margin: 0 10px 0 10px;
}

#announcement {
    border-bottom: dotted 1px grey; 
    word-break: break-word;
    padding-bottom: 5px;
    line-height: 1.1;
}

#announcement-content {
    white-space: pre-wrap;
}

#articles {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: dotted 1px grey; 
    border-bottom: dotted 1px grey;
}

td.fit, th.fit{
    width:1%;
    white-space:nowrap;
}

#articles td.title, #articles th.title {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
}

#articles td.fit i { 
    color: #666; 
}

#articles th {
    font-weight: bold; 
    text-align: center;
    font-size: 90%;
}

#articles td, th { 
    padding: 3px 5px;
}

#articles td.pr0 { 
    padding-right: 0; 
}

#articles td.pl0 { 
    padding-left: 0; 
}

#articles td.center { 
    text-align: center; 
}

#articles td.header {
    background: #54638c;
    color: white;
}

#articles td.header a {
    color: white;
}

#articles td.reply {
    cursor: pointer;
}

#articles td.reply:hover {
    background-color: #ddd;
}

#articles td span.time { 
	color: #888; 
	font-size: 80%;
	display: none;
}

#articles .darken {
    background-color: #f1f2f3; 
}

#articles .darken td {
    border-left: dotted 1px #aaa;
}

#articles .darken td:first-child {
    border-left: none;
}

.preview-content {
    color: #888;
    font-size: 80%;
    word-break: break-word;
}

.preview-content .html, .preview-content .code, .preview-content .csv {
    display: none;
}

.preview-content .image, .preview-content .article-image {
    max-height: 64px;
}

#gallery {
    border-top: dotted 1px grey; 
    border-bottom: dotted 1px grey;
    padding: 4px;
    text-align: center;
}

#gallery-container {
	width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

#gallery .outter-image {
    width: 210px;
    display: inline-block;
    text-align: center;
    margin: 4px;
    vertical-align: middle;
}

#gallery div.image {
    margin: auto 2px;
    display: inline-block;
    text-align: center;
    border: solid 1px #ccc;
}

#gallery div.date {
    padding: 4px;
    background: #eee;
    font-size: 12px;
}

#gallery div.date div {
    font-size: 80%;
    color: #888;
}

#gallery div.date {
    word-spacing: 2px;
}

#gallery div.date > span {
    word-spacing: 0;
    border-left: solid 1px #aaa;
    padding-left: 6px;
}

#gallery div.date > span:first-child {
    border-left: none;
    padding-left: 0;
}

#gallery div.image img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

#gallery .img-id {
    font-size: 12px;
    padding: 2px 4px;
    background: #54638c;
    color: white;
}

#gallery .img-id label {
    color: white;
}

#gallery .img-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#article-content {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 1.1;
}

#article-content > table {
    width: 100%;
}

#article-content > table td {
    line-height: 1.2;
}

#article-content h2, #article-content ol, #article-content ul {
    margin: 0;
}

#article-content img {
    max-width: 250px;
    max-height: 250px;
}

#article-content table.csv {
    border-collapse: collapse;
    border-spacing: 0;
}

#article-content table.csv td, #article-content table.csv th {
    padding: 0.2em;
    border: solid 1px #ddd;
}

#article-content .zebra-false {
    background-color: #fafafa;
}

#article-content table.csv .csv-false {
    background-color: #f8f8f8;
}

#article-content .zebra-false .csv-false {
    background-color: white !important;
}

#article-content table.code {
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 12px/20px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 100%;
}

#article-content table.code tr.li0 {
    background-color: #fafafa;
}

#article-content .zebra-false tr.li1 {
    background-color: white !important;
}

#article-content .zebra-false tr.li0 {
    background-color: #f6f6f6 !important;
}

#article-content table.code td.lin {
    text-align: right;
    border-right: solid 1px #eee;
    width: 1%;
    min-width: 20px;
    padding-right: 4px;
    padding-left: 4px;
    color: #ccc;
    white-space: nowrap;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
}

#article-content .zebra-false td.lin {
    color: #ababab;
}

#article-content table.code td.lin + td {
    word-wrap: break-word;
    word-break: break-word;
    padding-left: 6px;
    line-height: 1.5;
}

#article-content a, #announcement-content a {
    text-decoration: underline;
}

#article-content a:hover, #announcement-content a:hover {
    text-decoration: none;
}

#article-content table.code span.kwd { color: #a71d5d; }
#article-content table.code span.com { color: #969896; }
#article-content table.code span.str { color: #183691; }
#article-content table.code span.dec { color: #0086b3; }
#article-content table.code span.typ { color: #0086b3; }
#article-content table.code span.pun { font-weight: bold; }

.dropdown {
    display: none;
    position: absolute;
    background: white;
    border: solid 1px #aaa;
    padding: 0;
    z-index: 99;
}

.dropdown ul {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 1px 5px;
    color: #333;
    border-bottom: dotted 1px #ccc;
}

.dropdown li:hover, .dropdown li[selected=selected] {
    background-color: #bddfe8;
}

.dropdown li[visible=hide] {
    display: none;
}

.dropdown span.fai {
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #222;
}

.dropdown span.date {
    font-size: 10px;
    color: #888;
    margin-left: 12px;
}

.dropdown span {
    color: #54638c;
}

.dropdown div {
    padding: 4px 6px;
    width: 100%;
}

.dropdown input {
    width: 100%;
}

.dropdown-underlay {
    display:none; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 98;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    background-color: white;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#thread-title {
    resize: vertical;
    border: solid 1px #aaa;
}

#thread-tag {
    margin: 2px 0;
    padding: 2px 6px;
    border: solid 1px #aaa;
    display: inline-block;
}

#thread-tag:hover {
    color: #54638c;
}

#thread-content {
	padding: 4px;
	line-height: 1.1;
    white-space: pre-wrap;
    resize: vertical;
    border: none;
}

#thread-content:focus{
    outline: none;
}

#content-container {
    border: 1px solid #ccc;
    border-top: solid 1.5px #ddd;
    overflow-y: auto;
    overflow-x: hidden; 
    background-color: white;
    text-align: left;
}

#editor-container {
    overflow: hidden; 
    border: 1px solid #ccc; 
    border-bottom: 1px solid #d0d0d0;
    background-color: #efefef;
}

a {
    text-decoration: none;
    color: #54638c;
}

a:hover { 
    color: #00207a; 
    text-decoration: underline; 
}

a.none:hover { 
    color: #00207a; 
    text-decoration: none; 
}

a:active { color: #c2c3c7; }
a.title { text-decoration: none; }
a.title:hover { text-decoration: underline; }

.smaller { font-size: 90%; }
.larger { font-size: 110%; }

#about {
    text-align: left; 
    margin: auto; 
    max-width: 660px; 
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#breadcrumbs {
    color: #333;
    margin: 0;
    margin-bottom: 5px;
    padding: 3px 10px;
    font-size: 90%;
    line-height: 2;
    word-spacing: 4px;
    background-color: transparent;
    background-color: #f5f6f7;
    border-bottom: 1px solid #d2d3d7 ;
    overflow: hidden;
}

#breadcrumbs .nc, #breadcrumbs a {
    color: #54638c;
    cursor: pointer;
    padding: 10px 4px 11px 4px;
    margin: -10px -4px -11px -4px;
}

#breadcrumbs .nc:hover, #breadcrumbs a:hover {
    text-decoration: none;
    background-color: #eaeaea;
}

#breadcrumbs .nc:active, #breadcrumbs a:active {
    color: #c2c3c7; 
}

#breadcrumbs > span {
    margin-right: 2px;
    padding-left: 10px;
    border-left: solid 1px #aaa;
}

#breadcrumbs > span:first-child {
    padding-left: 0;
    border-left: none;
}

#breadcrumbs > span *:not([class=fai]) {
    word-spacing: 0;
}

a.badge {
    font-size: 12px; 
    border-left: solid 2px #aaa; 
    padding-left: 5px;
    margin-left: 5px;
    color: black;
    line-height: 2;
}

#header {
    margin: 10px 10px 0 10px;
}

#navibar {
    clear: both;  /* problem: clear: right; aligns nicely right of logo,
                    but lets it float high in the header, disconnected from ground */
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 0.9em;
    zoom: 1; /* for avoiding a gap between navibar and pageline on IE */
}

#navibar li {
    float: left;
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #acd;
    border-bottom: none;
    white-space: nowrap;
}

#navibar li.link {
    background: white;
}

#navibar a, #navibar a:visited {
    display: block;
    color: black;
    text-decoration: none;    
}

#navibar li.current a {
    font-weight: bold;
}

#navibar li.hide {
    display: none;
}

#navibar li:hover {
    background: #bddfe8;
    border-color: #94afb6;
}

#navibar li.current, #navibar li.current:hover {
    background: #f5f6f7;
    border: 1px solid #aaa;
    border-bottom: 1px dotted #bababa;
    margin-bottom: -1px;
}

#navibar a, #navibar a:hover {
    text-decoration: none;
}

#pageline {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    /* sync these values, line-height is needed for IE */
    /*height: 4px;*/
    /*line-height: 4px;*/
    /*border-bottom: 1px solid #aaa;*/
    border-top: 1px solid #aaa;
    background: #f5f6f7;
}

hr {
    border:none;
    border-top: solid 1px #ccc;
}

.pager {
    margin: 5px 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.pager td {
    border: solid 1px #bababa;
    padding: 2px 6px;
}

.pager td.l a:before { 
    content: '\e01b'; 
    font-family: typicons; 
    margin-right: 4px; 
    color: #aaa;
}

.pager td.c { cursor: pointer; }
.pager td.n { border-right: none; }
.pager td.l { border-left: none; }
.pager td.t { border-left: dashed 1px #aaa; }
.pager td.c:hover, .pager td.nc { background-color: #eee; }
.pager td a:hover { text-decoration: none; }
.pager td a { display:inline-block; }

input.simple-check {
    display: none;
}

input.simple-check:checked + label:before {
    content: '\e11e';
    color: black;
}

input.simple-check + label:before {
    content: '\e122';
    font-family: typicons;
    display: inline-block;
    width: 16px;
    color: #ccc;
}

div._float {
    max-width: 500px;
    width: 100%;
    float: left;
}

table._table { 
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px 0;
}

table._table td { 
    padding: 4px; 
}

table._table._wide td { 
    padding: 8px; 
}

table._table td ._f { 
    width: 100%; 
}

td.right-align {
    text-align: right;
    vertical-align: text-top;
}

table.database { 
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 80%;
}

table.database td {
    border: solid 1px #ccc;
}

div#editor {
    /*max-width:500px;*/
    width: 100%;
}

div#editor textarea {
    width: 100%;
}

#footer {
    font-size: 90%;
    border: 1px solid #dfdfe0;
    padding: 3px 10px;
    background-color: #f5f6f7;
    margin: 10px 10px 0 10px;
    line-height: 2;
    border-left: 0;
    border-right: 0;
    clear: both;
}

#editor-panel a { 
    font-family: typicons; 
    font-size: 120%;
}

#editor-panel span {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#editor-panel a {
    text-decoration: none;
    color: #ccc;
    margin: 0 3px;
}

#editor-panel a:hover {
    color: #0F6080;
}

#editor-panel input[type=file] {
    visibility: collapse; 
    width: 0px;
}

#tr-edit div { width: 100%; }

.CodeMirror {
    height: auto;
}

.image-code {
    width: 100%;
    resize: vertical;
}

@media only screen and (max-width: 38em) {

    div#header {
        margin: 10px 2px 0 2px;
        padding: 0;
    }
    
    #container {
        margin: 0 2px;
    }
    #articles td span.time {
    	display: block;
    }
    #articles td.last, #articles th.last {
    	display: none;
    }
    #footer {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media only screen and (max-width: 30em) {
    #navibar {
        padding: 0;
    }
    #navibar ul {
        padding: 0;
    }
    #navibar li {
        float: inherit;
        display: list-item;
        list-style-type: none;
        margin: 0;
        padding: 2px 5px;
        border-left: none;
        border-right: none;
        white-space: nowrap;
    }
    #navibar li.current, #navibar li.current:hover {
    	background: #f5f6f7;
    	border: solid 1px #aaa;
    	margin-bottom: 0;
    }

    #index-image-td {
        display: none;
    }

    #gallery .outter-image {
        width: 100%;
        display: block;
    }
}