/*
    This css file contains some codes from the Debian and the Moinmoin's offical websites
*/

body {
    margin: 0;
    font: normal 100% sans-serif;
    line-height: 1.5;
    color: #222;
    background-color: white;
}

img {
    border: none;
}

#container {
    margin: 0 10px 0 10px;
}

input, select, textarea {
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box; 
}

div.article:hover {
    background-color: #f0f0f4;
}

#announcement {
    border-bottom: dotted 1px grey; 
    word-break: break-word;
    padding-bottom: 5px;
    line-height: 1.1;
}

#articles {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: dotted 1px grey; 
    border-bottom: dotted 1px grey;
}

td.fit, th.fit{
    width:1%;
    white-space:nowrap;
}

#articles td.title, #articles th.title {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
}

#articles td.fit i { 
    color: #666; 
}

#articles th {
    font-weight: bold; 
    text-align: center;
    font-size: 90%;
}

#articles td, th { 
    padding: 3px 5px;
}

#articles td.pr0 { 
    padding-right: 0; 
}

#articles td.pl0 { 
    padding-left: 0; 
}

#articles td.center { 
    text-align: center; 
}

#articles td.header {
    background: #54638c;
    color: white;
}

#articles td.header a {
    color: white;
}

#articles td.reply {
    cursor: pointer;
}

#articles td.reply:hover {
    background-color: #ddd;
}

#articles td span.time { 
	color: #888; 
	font-size: 80%;
	display: none;
}

#articles .darken {
    background-color: #f1f2f3; 
}

#articles .darken td {
    border-left: dotted 1px #aaa;
}

#articles .darken td:first-child {
    border-left: none;
}

.preview-content {
    color: #888;
    font-size: 80%;
    word-break: break-word;
}

#article-content {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.1;
}

.dropdown {
    display: none;
    position: absolute;
    background: white;
    border: solid 1px #aaa;
    padding: 0;
    margin-top: -10px;
    z-index: 99;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 1px 5px;
    border-bottom: dotted 1px #ccc;
}

.dropdown li:hover {
    background-color: #bddfe8;
}

.dropdown-underlay {
    display:none; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 98;
}

#thread-content {
	min-height: 100px;
	padding: 4px;
	line-height: 1.1;
}

a {
    text-decoration: none;
    color: #54638c;
}

a:hover { color: #00207a; text-decoration: underline; }
a:active { color: #c2c3c7; }
a.title { text-decoration: none; }
a.title:hover { text-decoration: underline; }

a.block, span.block {
	text-decoration: none;
	background-color: #f8f8f8;
    border: dotted 1px;
    border-bottom: solid 1px;
    padding: 2px 5px;
    border-right: solid 1px;
}

a.inline-block {
    display: inline-block;
    border-bottom: solid 2px;
    line-height: 1;
}

a.inline-block:active {
    border-bottom: solid 1px;
    margin-top: 1px;
}

a.block.flatten {
    border: dotted 1px;
    background-color: white;
}

.article-image {
    max-width: 250px;
    max-height: 250px;
}

.small-preview {
	max-width:100px;
	max-height:100px;
}

.smaller { font-size: 90%; }
.larger { font-size: 110%; }

#about {
    text-align: left; 
    margin: auto; 
    max-width:500px; 
    width: 100%;
}

#about p {
    text-indent: 2em;
    text-align: justify;
}

#breadcrumbs {
    margin: 0;
    margin-bottom: 5px;
    padding: 3px 10px;
    font-size: 90%;
    line-height: 2;
    background-color: transparent;
    background-color: #f5f6f7;
    border-bottom: 1px solid #d2d3d7 ;
}

badge {
    background-color: cadetblue;
    color: white;
    padding: 0 2px;
    text-decoration: none;
    border: solid 1px #568e8f;
    border-bottom: solid 2px #4b8686;
    font-weight: bold;
}

a.badge {
    font-size: 80%; 
    border-left: solid 2px #aaa; 
    padding-left: 5px;
    margin-left: 5px;
    color: black;
    line-height: 2;
}

#header {
    margin: 10px 10px 0 10px;
}

#navibar {
    clear: both;  /* problem: clear: right; aligns nicely right of logo,
                    but lets it float high in the header, disconnected from ground */
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 0.82em;
    zoom: 1; /* for avoiding a gap between navibar and pageline on IE */
}

#navibar li {
    float: left;
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #acd;
    border-bottom: none;
    white-space: nowrap;
}

#navibar li.link {
    background: white;
}

#navibar a, #navibar a:visited {
    display: block;
    color: black;
    text-decoration: none;    
}

#navibar li.current a {
    font-weight: bold;
}

#navibar li.hide {
    display: none;
}

#navibar li:hover {
    background: #bddfe8;
    border-color: #94afb6;
}

#navibar li.current, #navibar li.current:hover {
    background: #f5f6f7;
    border: 1px solid #aaa;
    border-bottom: 1px solid #f5f6f7;
    margin-bottom: -1px;
}

#navibar a, #navibar a:hover {
    text-decoration: none;
}

#pageline {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    /* sync these values, line-height is needed for IE */
    /*height: 4px;*/
    /*line-height: 4px;*/
    /*border-bottom: 1px solid #aaa;*/
    border-top: 1px solid #aaa;
    background: #f5f6f7;
}

hr {
    border:none;
    border-top: solid 1px #ccc;
}

.toa {
    margin: 0.5em 0;
    border: solid 1px #a9abb3;
    border-collapse: separate;
    border-spacing: 0;
}
.toa td {
    font-size: 90%;
    border-top: dotted 1px #a9abb3;
    padding: 0.25em 0.5em;
}
.toa td a {
    text-decoration: none;
    display: block;
}
.toa td:not([class=no-hover]):hover {
    background-color: #f0f0f4;
}
.toa td.head {
    background: #a9abb3;
    color: white;
    border-right: dotted 1px;
    
}
.pager {
    margin: 5px 0; 
    word-spacing: -0.1em; 
}

input.simple-check {
    display: none;
}

input.simple-check:checked + label:before {
    content: '[Y]';
    color: black;
}

input.simple-check + label:before {
    content: '[N]';
    font-family: "Lucida Console", Monaco, monospace;
    color: #ccc;
    letter-spacing: 2px;
}

input.simple-check + label {
    color: #ccc;
    text-decoration: line-through;
}

input.simple-check:checked + label {
    color: black;
    text-decoration: none;
}

table._table { 
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px 0;
}

table._table td { 
    padding: 4px; 
}

table._table._wide td { 
    padding: 8px; 
}

table._table td ._f { 
    width: 100%; 
}

td.right-align {
    text-align: right;
    vertical-align: text-top;
}

table.database { 
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 80%;
}

table.database td {
    border: solid 1px #ccc;
}

.account-id {
    background: cadetblue;
    color: white;
    padding: 0.33em;
    border-radius: 3px;
}

.font-courier { font-family: "Courier New", Courier, monospace; }
.font-lucida { font-family: "Lucida Console", Monaco, monospace; line-height: 1.15;}
.font-purple { color: #800080 !important; }

div#editor {
    /*max-width:500px;*/
    width: 100%;
}

div#editor table {
    width: 100%;
}

div#editor textarea {
    width: 100%;
}

#thread-tag {
    font-family: Consolas;
}

#footer {
    font-size: 90%;
    border: 1px solid #dfdfe0;
    padding: 3px 10px;
    background-color: #f5f6f7;
    margin: 10px 10px 0 10px;
    line-height: 2;
    border-left: 0;
    border-right: 0;
    clear: both;
}

.tags {
    padding: 0;
}

.tags li { 
    float: left; 
    margin: 10px 20px;
    border-bottom: dotted 1px #888;
}

.tags div { 
    font-size: 80%; 
    margin-bottom: 5px; 
}

@media only screen and (max-width: 38em) {

    div#header {
        margin: 10px 2px 0 2px;
        padding: 0;
    }
    
    #container {
        margin: 0 2px;
    }
    #articles td span.time {
    	display: block;
    }
    #articles td.last, #articles th.last {
    	display: none;
    }
    #footer {
        margin-left: 2px;
        margin-right: 2px;
    }
}
@media only screen and (max-width: 30em) {
    #navibar {
        padding: 0;
    }
    #navibar ul {
        padding: 0;
    }
    #navibar li {
        float: inherit;
        display: list-item;
        list-style-type: none;
        margin: 0;
        padding: 2px 5px;
        border-left: none;
        border-right: none;
        white-space: nowrap;
    }
    #navibar li.current, #navibar li.current:hover {
    	background: #f5f6f7;
    	border: solid 1px #aaa;
    	margin-bottom: 0;
    }
}

span.right-block {
    display: block;
    float: right;
    margin-right: 8px;
    font-size: 80%;
}

#editor-panel a { 
    font-family: FontAwesome; 
}

#editor-panel span {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#editor-panel a {
    text-decoration: none;
    color: #ccc;
    margin: 0 3px;
}

#editor-panel a:hover {
    color: #0F6080;
}

#tr-edit div { width: 100%; box-sizing: border-box; }

#content-container {
    border: 1px solid #ccc;
    border-top: solid 1.5px #ddd;
    overflow-y: auto;
    overflow-x: hidden; 
    background-color: white;
    text-align: left;
}

#editor-outter-panel {
    overflow: hidden; 
    border: 1px solid #ccc; 
    border-bottom: 1px solid #d0d0d0;
    background-color: #efefef;
}

.CodeMirror {
    height: auto;
}