{{if .IsLoggedIn}}
<title>[[Console]]</title>
<style type="text/css">
    .account-admin { display: inline !important; }
</style>

<p id="breadcrumbs">    
    <span data-dropdown="articles-nav"><span class='fai'>&#xe0bf;</span>
    <span class="nc">[[My Articles]]</span></span>

    <span><span class='fai'>&#xe08d;</span>
    <a href="/gallery/{{.ID}}/page/1">[[My Gallery]]</a></span>

    <span><span class='fai'>&#xe0a5;</span>
    <a id="message-box-count" href="/message/{{.ID}}/page/1">[[Private Message]]</a></span>

    <span><span class='fai'>&#xe069;</span>
    <a data-onclick="tryLogout()">[[Log Out]]</a></span>

    <span class="account-{{.Group}}" data-dropdown="admin-nav" style="display: none">
        <span class='fai'>&#xe103;</span> 
        <span class='nc'>管理员</span>
    </span>
</p>

<div class="dropdown" id="articles-nav">
    <ul>
        <li><span class='fai'>&#xe04f;</span>
        <a href="/ua/{{.ID}}/page/1">[[Visible Articles]]</a></li>

        <li><span class='fai'>&#xe04f;</span>
        <a href="/owa/{{.ID}}/page/1">[[Iceberg]]</a></li>
    </ul>
</div>

<div class="dropdown" id="admin-nav">
    <ul>
        <li><a href="/owa/0/page/1">全站文章</a></li>
        <li><a href="/gallery/0/page/1">全站相册</a></li>
        <li><a href="/config/sheet">配置文件</a></li>
        <li><a href="/database/articles/page/1">浏览数据库</a></li>
        <li><a href="/bootstrap">配置模板</a></li>
        <li><a href="/cache" target="_blank">缓存状态</a></li>
    </ul>
</div>

{{else}}
<title>[[Sign in]]</title>
<p id="breadcrumbs">
<span><span class='fai'>&#xe083;</span> <span>[[Sign in]]</span></span>
<span><span class='fai'>&#xe128;</span> <a href="/account/register">[[Sign up]]</a></span>
</p>
{{end}}

<script type="text/javascript">
    {{if .IsLoggedIn}}
        var tryLogout = function(){
            etc.util.ajax.post("/logout").then(function (e, data, x) {
                etc.wait.on(this).done();
                etc.util.cookie.remove("unread");
                window.location.reload();
            });

            return etc.wait.on(this);
        }

        var tryUpdate = function(col){

            etc.util.ajax.post("/user/update", {
                "text": etc.id("user-" + col).value,
                "column": col,
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                if (d == "ok") {
                    alert("[[Operation completed]]");
                    window.location.reload();
                } else {
                    alert("[[Error: ]]" + d);
                }
            });

            return etc.wait.on(this);
        }

        var tryUpdatePassword = function(){
            var op = etc.id("old-password").value;
            if (op === "") {
                alert("[[Please enter the old password]]");
                return etc.wait.on(this).done();
            }

            etc.util.ajax.post("/user/update/password", {
                "old-password": op,
                "new-password": etc.id("new-password").value,
                "password-hint": etc.id("new-password-hint").value,
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                if (d == "ok") {
                    alert("[[Operation completed]]");
                    window.location.reload();
                } else {
                    alert("[[Error: ]]" + d);
                }
            });

            return etc.wait.on(this);
        }

        var tryUpdateAvatar = function(){
            etc.util.ajax.$post("/upload", {
                "image": etc.file("user-avatar")[0],
                "avatar": "true",
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                var j = JSON.parse(d);

                if (j.Avatar == "ok"){
                    alert("[[Operation completed]]");
                    etc.id("avatar-image").attr("src", j.Thumbnail).parentNode.href = j.Link;
                } else {
                    alert("[[Error: ]]" + j.R);
                }
            });

            return etc.wait.on(this);
        }

        if (window.__unread > 0) 
            etc.id("message-box-count").innerHTML += " (" + window.__unread + ")";
    {{else}}
	    var tryLogin = function(){
	        etc.let.hide("login-result");

	        etc.util.ajax.post("/login", {
	            "username" : etc.id("simple-username").value, 
	            "password" : etc.id("simple-password").value, 
	            "expire" : etc.id("simple-expire").value,
	            "csrf": etc.util.CSRF()
	        }).then(function (e, data, x) {
	            etc.wait.on(this).done();

	            if (data.indexOf("ok") == 0) {
	                window.location.href = window.location.href.split("?")[1] || "/";
	            } else {
	                var m = data.match(/Err::Login::Retry_Opportunities_(\d+)_Hint_(.+)/);
	                var h = "[[Error: ]]" + data;
	                if (m[2]) h = "[[Password Hint]]: " + m[2] + "<br>" + h;
	                
	                etc.let.show("login-result").$.html(h);
	            }
	        });

	        return etc.wait.on(this);
	    }

        window.onload = function() {
            etc.id("simple-password").on("keydown", function(ev) { 
                if(ev.keyCode == 13) etc.id("simple-login").click(); 
            });
        }
    {{end}}
</script>

{{if .IsLoggedIn}}

<style type="text/css">
    input.fill {
        width: 100%; 
        max-width: 200px;
    }

    #avatar-image {
        max-width: 150px; 
        max-height: 150px;
    }
</style>

<div class="_float">
    <table class="_table">
        <tr><td class="right-align fit">[[User]] ID:</td><td>{{.ID}}</td></tr>
        <tr><td class="right-align fit">[[Nickname]]:</td><td>{{.NickName}}</td></tr>
        <tr><td class="right-align fit">[[Username]]:</td><td>{{.Name}}</td></tr>
        <tr><td class="right-align fit">[[User Group]]:</td><td>{{.Group}}</td></tr>
        <tr><td class="right-align fit">[[User State]]:</td><td>{{.Status}}</td></tr>
        <tr><td class="right-align fit">[[Last Login]]:</td><td>
            <script type="text/javascript">
                document.write(etc.date.format({{.LastLoginDate}} * 1000, true))
            </script> @
            <a href="http://ipinfo.io/{{.LastLoginIP}}" target="_blank">{{.LastLoginIP}}</a>
        </td></tr>
        
        <tr><td class="right-align fit">[[Signup Date]]:</td><td>
            <script type="text/javascript">
                document.write(etc.date.format({{.SignUpDate}} * 1000, true))
            </script>
        </td></tr>

        <tr><td class="right-align fit">[[Disk Size]]:</td><td>
        <script type="text/javascript">
            document.write(({{.ImageUsage}} / 1048576).toFixed(2) + " MiB ({{.ImageUsage}} [[bytes]])");
        </script>
        </td></tr>

        {{range $n, $av := .UserPrivilege}}
        <tr>{{if eq $n "Cooldown"}}
                <td class="right-align fit">[[Cooldown]]:</td>
                <td>{{if $av}}{{$av}}s{{else}}[[No Limit]]{{end}}</td>
            {{else}}
                <td class="right-align fit">{{$n}} [[privil]]:</td>
                <td>{{if $av}}<span class="fai">&#xe11e;</span>{{else}}<span class="fai">&#xe122;</span>{{end}}</td>
            {{end}}
        {{end}}</tr>

        <tr><td class="right-align fit">[[User Index]]:</td>
        <td>
        {{if .IndexID}}
        <a href="/article/{{.IndexID}}">[[Article]] #{{.IndexID}}</a> - 
        <a data-onclick="tryUpdate('index')">[[Clear Index]]</a>
        <input type="hidden" id="user-index" value="0"/>
        {{else}}
        <span class='fai'>&#xe0bf;</span>
        <a href="/owa/{{.ID}}/page/1">[[Select from 'My Articles']]</a>
        {{end}}
        </td></tr>
    </table>
</div>

<div class="_float">
    <table class="_table">
        <tr><td class="right-align fit">[[Expose Hidden]]:</td>
        <td>
            <input type="text" id="user-g_visible" class="fill" value="{{.GalleryVisible}}"/>
            <button data-onclick="tryUpdate('g_visible')">[[Update Groups]]</button>
        </td></tr>
        <tr><td colspan="2" style="font-size: 12px">
            [[Expose hidden images to user groups (separated by spaces), 'all' means everyone]]
        </td></tr>

        <tr><td colspan="2"></td></tr>

        <tr><td></td><td>
        	<a href="{{.Avatar}}"><img id="avatar-image" src="{{.AvatarThumb}}"></a>
        </td></tr>

        <tr><td class="right-align fit">[[User Avatar]]:</td><td>
            <input type="file" id="user-avatar" class="fill"/>
            <button data-onclick="tryUpdateAvatar()">[[Upload Avatar]]</button>
        </td></tr>

        <tr><td colspan="2"></td></tr>

        <tr><td class="right-align fit">[[Old Password]]:</td>
            <td><input type="text" id="old-password" class="fill"/></td>
        </tr>
        <tr><td class="right-align fit">[[New Password]]:</td>
            <td><input type="text" id="new-password" class="fill"/></td>
        </tr>
        <tr><td class="right-align fit">[[Password Hint]]:</td>
            <td>
                <input type="text" id="new-password-hint" class="fill"/>
                <button data-onclick="tryUpdatePassword()">[[Update Password]]</button>
            </td>
        </tr>
    </table>
</div>

<br style="clear: both">
{{else}}

<table class="_table" style="max-width: 300px;">
    <tr>
        <td class="right-align fit">[[Username]]:</td>
        <td><input type="text" id="simple-username" class="_f" /></td>
    </tr>
    <tr>
        <td class="right-align fit">[[Password]]:</td><td>
        <input type="password" id="simple-password" class="_f"/>
    </tr>
    <tr>
        <td class="right-align fit">[[Cookie]]:</td>
        <td>
            <select id="simple-expire" class="_f">
                <option value="-1">[[Do not use]]</option>
                <option value="1" selected>1 [[day]]</option>
                <option value="7">1 [[week]]</option>
                <option value="30">1 [[month]]</option>
                <option value="0">1 [[year]]</option>
            </select>
        </td>
    </tr>
    <tr><td></td><td>
        <button data-onclick="tryLogin()" id="simple-login">[[Sign in]]</button>
    </td></tr>
</table>

<div id="login-result" style="word-break: break-word"></div>
{{end}}