{{if .IsLoggedIn}}
<title>管理面板</title>
<p id="breadcrumbs">
    <span class='fai'>&#xe0bf;</span>
    <a href="/ua/{{.ID}}/page/1">可见文章</a> |

    <span class='fai'>&#xe04f;</span>
    <a href="/owa/{{.ID}}/page/1">管理全部文章</a> |

    <span class='fai'>&#xe0a5;</span>
    <a id="message-box-count" href="/message/{{.ID}}/page/1">站内信箱</a> |

    <span class='fai'>&#xe069;</span>
    <a data-onclick="tryLogout()">登出账号</a>
</p>

{{else}}
<title>用户登入</title>
<p id="breadcrumbs">
<span class='fai'>&#xe083;</span> 用户登入 | 
<span class='fai'>&#xe128;</span> <a href="/account/register">创建账号</a></p>
{{end}}

<script type="text/javascript">
    var returnURL = "/";

    var tryLogin = function(){
        etc.let.hide("login-result");

        etc.util.ajax.post("/login", {
            "username" : etc.id("simple-username").value, 
            "password" : etc.id("simple-password").value, 
            "expire" : etc.id("simple-expire").value,
            "csrf": etc.util.CSRF()
        }).then(function (e, data, x) {
            etc.wait.on(this).done();

            if (data.indexOf("ok") == 0) {
                window.location.href = returnURL;
            } else {
                etc.let.show("login-result").$.html("登入失败: " + data);
            }
        });

        return etc.wait.on(this);
    }

    {{if .IsLoggedIn}}
        var tryLogout = function(){
            etc.util.ajax.post("/logout").then(function (e, data, x) {
                etc.wait.on(this).done();
                etc.util.cookie.remove("unread");
                window.location.reload();
            });

            return etc.wait.on(this);
        }

        var tryUpdateComment = function(){

            etc.util.ajax.post("/user/update/comment", {
                "comment": etc.id("user-comment").value,
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                if (d == "ok") {
                    alert("更新备注成功");
                    window.location.reload();
                } else {
                    alert("更新失败: " + d);
                }
            });

            return etc.wait.on(this);
        }

        var tryUpdatePassword = function(){
            var op = etc.id("old-password").value;
            if (op === "") {
                alert("请先输入旧密码");
                return etc.wait.on(this).done();
            }

            etc.util.ajax.post("/user/update/password", {
                "old-password": op,
                "new-password": etc.id("new-password").value,
                "password-hint": etc.id("new-password-hint").value,
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                if (d == "ok") {
                    alert("修改密码成功");
                    window.location.reload();
                } else {
                    alert("修改失败: " + d);
                }
            });

            return etc.wait.on(this);
        }

        var tryUpdateAvatar = function(){
            etc.util.ajax.$post("/upload", {
                "image": etc.file("user-avatar")[0],
                "avatar": "true",
                "csrf": etc.util.CSRF()
            }).then(function(e, d, x){
                etc.wait.on(this).done();

                var j = JSON.parse(d);

                if (j.Avatar == "ok"){
                    alert("上传成功");
                    etc.id("avatar-image").attr("src", j.Thumbnail).parentNode.href = j.Link;
                } else {
                    alert("发生错误");
                }
            });

            return etc.wait.on(this);
        }

        if (window.__unread > 0) 
            etc.id("message-box-count").innerHTML += " (" + window.__unread + ")";
    {{else}}
        window.onload = function() {
            returnURL = window.location.href.split("?")[1] || "/";

            etc.id("simple-password").on("keydown", function(ev) { 
                if(ev.keyCode == 13) etc.id("simple-login").click(); 
            });
        }
    {{end}}
</script>

{{if .IsLoggedIn}}
<style type="text/css">
    .account-admin {
        display: table !important;
    }
</style>

<table class="toa account-{{.Group}}" style="display: none" id="admin-nav">
    <tr>
        <td><a href="/owa/0/page/1">站内所有文章</a></td>
        <td><a href="/config/sheet">配置文件</a></td>
        <td><a href="/database/articles/page/1">浏览数据库</a></td>
        <td><a href="/bootstrap">配置模板</a></td>
        <td><a href="/cache" target="_blank">缓存状态</a></td>
    </tr>
</table>

<table class="_table" style="width: 100%">
    <tr><td class="right-align fit">用户ID:</td><td>{{.ID}}</td></tr>
    <tr><td class="right-align fit">用户昵称:</td><td>{{.NickName}}</td></tr>
    <tr><td class="right-align fit">登入名:</td><td>{{.Name}}</td></tr>
    <tr><td class="right-align fit">用户组:</td><td>{{.Group}}</td></tr>
    <tr><td class="right-align fit">用户状态:</td><td>{{.Status}}</td></tr>
    
    {{range $n, $av := .UserPrivilege}}
        <tr><td class="right-align fit">{{$n}}:</td><td>{{$av}}</td></tr>
    {{end}}
    <tr><td class="right-align fit">上次登入:</td><td>
        <script type="text/javascript">
            document.write(etc.date.format({{.LastLoginDate}} * 1000, true))
        </script> @
        <a href="http://ipinfo.io/{{.LastLoginIP}}" target="_blank">{{.LastLoginIP}}</a>
    </td></tr>
    
    <tr><td class="right-align fit">注册时间:</td><td>
        <script type="text/javascript">
            document.write(etc.date.format({{.SignUpDate}} * 1000, true))
        </script>
    </td></tr>

    <tr><td class="right-align fit">上传图片:</td><td>
    <script type="text/javascript">
        document.write(({{.ImageUsage}} / 1048576).toFixed(2) + " MiB ({{.ImageUsage}} 字节)");
    </script>
    </td></tr>

    <tr><td colspan="2"><hr></td></tr>

    <tr><td class="right-align fit">页面语言:</td><td>
    <input type="checkbox" id="use-trad" class="simple-check" onchange="useTrad(this)">
    <label for="use-trad">使用繁体</label>
    </td></tr>

    <tr><td></td><td class="smaller">-- 变更后请刷新页面</td>
    <script type="text/javascript">
        function useTrad(e) {
            if (e.checked)
                etc.util.cookie.write("trad", "1", 3600 * 24 * 1000 * 365);
            else
                etc.util.cookie.remove("trad");
        }

        if (etc.util.cookie.read("trad") == "1") etc.id("use-trad").checked = true;
    </script>
    </tr>

    <tr><td colspan="2"><hr></td></tr>

    <tr><td class="right-align fit">用户备注:</td>
    	<td>
    		<input type="textbox" id="user-comment" style="width: 100%; max-width: 200px" value="{{.Comment}}"/>
            <button data-onclick="tryUpdateComment()">更新备注</button>
        </td>
    </tr>

    <tr><td></td><td>
    	<a href="/images/{{.Avatar}}" style="display: block;">
        	<img id="avatar-image" style="max-width: 150px; max-height: 150px" src="/thumbs/{{.Avatar}}">
        </a>
    </td></tr>

    <tr><td class="right-align fit">用户头像:</td><td>
        <input type="file" id="user-avatar" style="width: 100%; max-width: 200px" />
        <button data-onclick="tryUpdateAvatar()">上传图像</button>
    </td></tr>

    <tr><td colspan="2"><hr></td></tr>

    <tr><td class="right-align fit">旧密码:</td>
        <td><input type="textbox" id="old-password" style="width: 100%; max-width: 200px"/></td>
    </tr>
    <tr><td class="right-align fit">新密码:</td>
        <td><input type="textbox" id="new-password" style="width: 100%; max-width: 200px"/></td>
    </tr>
    <tr><td class="right-align fit">新密码提示:</td>
        <td>
            <input type="textbox" id="new-password-hint" style="width: 100%; max-width: 200px"/>
            <button data-onclick="tryUpdatePassword()">修改密码</button>
        </td>
    </tr>
</table>
{{else}}

<table class="_table" style="max-width: 300px;">
    <tr>
        <td class="right-align fit">用户名:</td>
        <td><input type="textbox" id="simple-username" class="_f" /></td>
    </tr>
    <tr>
        <td class="right-align fit">密码:</td><td>
        <input type="password" id="simple-password" class="_f"/>
    </tr>
    <tr>
        <td class="right-align fit">Cookie:</td>
        <td>
            <select id="simple-expire" class="_f">
                <option value="-1">不保存</option>
                <option value="1" selected>1 天</option>
                <option value="7">1 周</option>
                <option value="30">30 天</option>
                <option value="0">1 年</option>
            </select>
        </td>
    </tr>
    <tr><td></td><td>
        <button data-onclick="tryLogin()" id="simple-login">登入</button>
    </td></tr>
</table>

<div id="login-result" style="word-break: break-word"></div>
{{end}}