<title>[{{.Article.Tag}}] {{.Article.Title}}</title>
<p id="breadcrumbs">
	{{if .Article.IsMessage}}
		<span class='fai'>&#xe0a5;</span> 私信 |

		<span class='fai' title="修改日期">&#xe120;</span>
		<script type="text/javascript">
			document.write(etc.date.format({{.Article.ModTimestamp}}, true));
		</script> |

		{{if .Article.IsMessageSentout}}
		{{else}}
		<span class='fai'>&#xe00b;</span>
		<a href="/new/message/{{.Article.AuthorID}}">回复</a> |

		<span class='fai'>&#xe073;</span>
		<a data-onclick="tryUnread()">标记为未读</a> |
		{{end}}

		<span class='fai'>&#xe12b;</span>
		<a href="/user/{{.Article.AuthorID}}">{{.Article.Author}}</a> 
		→ 
		<a href="/user/{{.Article.Tag}}">{{.Article.Tag}}</a> |

		<span class='fai'>&#xe123;</span>
		<a data-onclick="tryDeleteRestore()">删除</a>
	{{else}}
		<span data-dropdown="article-function">
			<span class='fai'>&#xe0bf;</span>
			<span class='nc'>文章</span>
		</span> |

		<span data-dropdown="article-history" data-dropdown-onload="getHistory()">
			<span class='fai' title="修改日期">&#xe120;</span>
			<span id="article-revision" class='nc'>
				<script type="text/javascript">
					document.write(etc.date.format({{.Article.ModTimestamp}}, true));
				</script>
				{{if .Article.Revision}}(r{{.Article.Revision}}){{end}}
			</span>
		</span> |
		
		<span class='fai'>&#xe12c;</span>
		<a href="/user/{{.Article.AuthorID}}" title="作者">{{.Article.Author}}</a> |

		{{if .IsEditedByOthers}}
		<span class='fai'>&#xe12b;</span>
		<a href="/user/{{.Article.OriginalAuthorID}}" title="文章原作者">{{.Article.OriginalAuthor}}</a> |
		{{end}}

		<span class='fai'>&#xe10f;</span>
		<a href="/tag/{{.Article.Tag}}/page/1" title="标签">{{.Article.Tag}}</a> |

		{{if .Article.ParentID}}
			<span class='fai'>&#xe00b;</span>
			<a href="/article/{{.Article.ParentID}}" title="父文章">{{.Article.ParentTitle}}</a> |
		{{else}}
			{{if .Article.Children}}
			<span class='fai'>&#xe0b8;</span>
			<a href="/reply/{{.Article.ID}}/page/1">{{.Article.Children}}回复</a> |
			{{end}}

			<span class='fai'>&#xe0b7;</span>
			<a href="/new/article/{{.Article.ID}}?/reply/{{.Article.ID}}/page/1">回复文章</a> |
		{{end}}

		<span class='fai'>&#xe06e;</span> <span title="浏览量">{{.Article.Hits}}</span>
	{{end}}

	{{if .Article.Deleted}}
		| <span class='fai' title="该文章已删除">&#xe058;</span>
	{{end}}

	{{if .Article.Locked}}
		| <span class='fai' title="该文章已被锁定">&#xe0a2;</span>
	{{else}}
		| <span class='fai'>&#xe0a4;</span>
	{{end}}

	{{if .Article.IsRestricted}}
		| <span class='fai'>&#xe137;</span> 您没有查看权限
	{{end}}

	{{if .Article.IsOthersMessage}}
		| <span class='fai' title="这是他人私信文章">&#xe0a5;</span>
	{{end}}
</p>

<div id="article-history" class="dropdown"><span id="article-history-loading"></span></div>

<div id="article-function" class="dropdown">
	<ul>
		<li><span class='fai'>&#xe08d;</span> 
		<a href="javascript:switchView()" id="switch-mode" data-mode="normal">相册模式</a>
		</li>
		
		{{if .IsLoggedIn}}
			{{if .IsAuthorSelf}}
				{{if .Article.IsMessage}}{{else}}
					<li><span class='fai'>&#xe067;</span>
					<a href='javascript:goEdit()'>编辑</a></li>
				{{end}}

				<li><span class='fai'>&#xe123;</span>
				<a data-onclick="tryDeleteRestore()">
					{{if .Article.Deleted}}恢复{{else}}删除{{end}}
				</a></li>
			{{end}}

			{{if .CanMakeLocked}}
				<li><span class='fai'>&#xe0a2;</span>
				<a data-onclick="goLock()">
					{{if .Article.Locked}}解锁{{else}}锁定{{end}}
				</a></li>
			{{end}}	
		{{end}}
	</ul>
</div>

<script type="text/javascript">
	function goEdit() {
		window.location.href="/edit/article/{{.Article.ID}}?" + window.location.href;
	}

	function goLock() {
		etc.util.ajax.post("/lock/article/{{.Article.ID}}", {"csrf":etc.util.CSRF()}).then(function(e, d, x){
			etc.wait.on(this).done();

			if (d == "ok") {
				alert("操作成功");
				window.location.reload();
			}
			else {
				alert("发生错误: " + d);
			}
		});

		return etc.wait.on(this);
	}

	function getHistory() {
		if (etc.id("article-history-loading")) {
			Animation.start("article-history-loading");
		} else {
			return;
		}

		etc.util.ajax.get("/article/{{.Article.ID}}/history?" + new Date().getTime()).then(function(e, d, x){
			getHistory.history = JSON.parse(d);
			var has = false;
			var _html = ["</ul>"];
			for(var k in getHistory.history) {
				has = true;
				_html.push("<li data-onclick='getHistoryVersion(" + k + ")' onclick='etc.wait.onclick(this)'>" + 
					getHistory.history[k].User + " - " + 
					etc.date.format(getHistory.history[k].Date, true) + "</li>");
			}
			if (!has) _html.push("<li>无历史版本</li>");
			_html.push("<ul style='cursor: pointer'>");

			Animation.stop();
			etc.id("article-history").html(_html.reverse().join(''));
		});
	}

	function getHistoryVersion(rev) {
		etc.util.ajax.get("/article/{{.Article.ID}}/history/" + rev).then(function(e, d, x){
			etc.wait.on(this).done();

			if (x.status == 503) {
				alert("您没有查看权限");
				return;
			}
			
			var j = JSON.parse(d);
			etc.id("article-revision").html(
				etc.date.format(getHistory.history[rev].Date, true) + " (#" + rev + ")");

			etc.id("article-title").html(j.Title);
			etc.id("article-content").html(etc.string.unescape(j.Content));
			var g = etc.id("gallery");
			if (g && g.parentNode) g.parentNode.removeChild(g);

			var el = etc.id("switch-mode");

			if (el.attr("data-mode") == "gallery") {
				el.attr("data-mode", "normal");
				el.innerHTML = "相册模式";
				etc.let.show("article-content");
			}
		});
		return etc.wait.on(this);
	}

	function tryDeleteRestore(){
		etc.util.ajax.post("/delete/article/{{.Article.ID}}/true", {
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("操作成功");
				window.location.reload();
			} else {
				alert("发生错误: " + text);			
			}
		});

		return etc.wait.on(this);
	}

	function tryUnread() {

		etc.util.ajax.post("/unread/message/{{.Article.ID}}", {"csrf": etc.util.CSRF()}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("已将该消息标记为未读");
				window.history.back();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	function switchView() {
		etc.util.lazyLoad(["/assets/gallery.js"], function(){
			var el = etc.id("switch-mode");

			if (el.attr("data-mode") == "normal") {
				el.attr("data-mode", "gallery");
				el.innerHTML = "文章模式";
				Gallery._Gallery();
			} else {
				el.attr("data-mode", "normal");
				el.innerHTML = "相册模式";
				Gallery._Normal();
			}

			hideFunction();
		})
	}
</script>

<h1 id="article-title">
{{.Article.Title}}
</h1>

<hr>

<div id="article-content">{{.Article.Content}}</div>