{{if .CurType}}
	{{if .IsReply}}
		<title>[[Article Replies]]</title>
		<p id="breadcrumbs">

		<span class='fai'>&#xe00b;</span> 
		<a href="/new/article/{{.CurTag}}?/reply/{{.CurTag}}/page/1">[[Reply this article]]</a> |

		<span class='fai'>&#xe023;</span>
		<a href="/article/{{.CurTag}}">[[Back to article]]</a>
	{{end}}

	{{if .IsUA}}
		<title>[[User Articles]]</title>
		<p id="breadcrumbs"><span class='fai'>&#xe12b;</span> {{.UA.UserNickName}}
	{{end}}

	{{if .IsOWA}}
		<title>[[Iceberg]]</title>
		<p id="breadcrumbs">
		{{if .OWA.IsViewingGlobal}}
			<span class='fai'>&#xe0bf;</span> [[Global Articles]]
		{{else}}
			{{if .OWA.IsViewingOther}}
				<span class='fai'>&#xe12b;</span> {{.OWA.ViewingOtherName}}
			{{else}}
				<span class='fai'>&#xe12c;</span> [[My Articles]]
			{{end}}
		{{end}}
	{{end}}

	{{if .IsTag}}
		<title>{{.CurTag}}</title>
		<p id="breadcrumbs"><span class='fai'>&#xe10f;</span> {{.CurTag}} [[Article]] |
		<script type="text/javascript">
			function postUnderThisTag() {
				etc.util.cookie.write("default-tag", "{{.CurTag}}", 60000);
				window.location.href = "/new/article/0?" + window.location.href;
			}
		</script>
	
		<span class='fai'>&#xe0b7;</span>
		<a href="javascript:postUnderThisTag()">[[Post new article]]</a>
	{{end}}
{{else}}
	<title>[[All Articles]]</title>
	<p id="breadcrumbs"><span class='fai'>&#xe0bf;</span> [[All Articles]]
{{end}}
<script type="text/javascript">
	document.title += " -- " + etc.date.format({{.Nav.Range.End}});
	document.write(' | <span class="fai">&#xe0b0;</span> ' + etc.date.format({{.Nav.Range.Start}}) + 
	' | <span class="fai">&#xe0b6;</span> ' + etc.date.format({{.Nav.Range.End}}));
</script>
</p>

{{if .IsOWA}}
	{{range $key, $value := .Tags}}
	   <input class="select-tag" type="checkbox" id="check-{{$key}}" name="check-{{$key}}" onclick="updateTag({{$key}})" checked/><label for="check-{{$key}}">{{$value}}</label>
	{{end}}
	<script type="text/javascript">
		var omit = "{{.CurTag}}".split(":");
		omit.shift();
		for (var i in omit) {
			etc.id("check-" + omit[i]).checked = false;
		}

		function updateTag(tagID) {
			var r = new RegExp("\\:" + tagID + "(\\:?)");
			var owa = "{{.CurTag}}"
			var has = r.test("{{.CurTag}}");
			var cto = etc.id("check-" + tagID).checked;

			if (!cto && !has) {
				owa += ":" + tagID;
			} else if (cto && has) {
				owa = owa.replace(r, "$1");
			}

			window.location.href = "/owa/" + owa + "/page/1";
		}

		function reverseTag() {
			var omit = "{{.CurTag}}".split(":");
			var _new = [omit[0]];

			var chks = document.querySelectorAll("input.select-tag");
			for (var i in chks) {
				if (chks[i].checked) _new.push(chks[i].id.replace("check-", ""));
			}

			window.location.href = "/owa/" + _new.join(':') + "/page/1";
		}
	</script>
	<button onclick="reverseTag()">[[Inverse]]</button>
{{end}}

{{if .Announce.Content}}
	<div id="announcement">
		<div id="announcement-content">{{.Announce.Content}}</div>
		
		<div style="margin-top: 5px" id="fold-announcement">
			<a href="/article/{{.Announce.ID}}" class="badge">
				&sect;{{.Announce.AuthorID}}-{{.Announce.ID}}-{{.Announce.Revision}}
			</a>
			<a href="/user/{{.Announce.AuthorID}}" class="badge">{{.Announce.Author}}</a>
			<a href="javascript:foldAnnouncement()" class="badge">[[Fold]]</a>
		</div>
		<div style="margin-top: 5px; display: none" id="unfold-announcement">
			<a href="javascript:unfoldAnnouncement()" class="badge">[[Unfold]]</a>
		</div>
	</div>

	<script type="text/javascript">
		function foldAnnouncement() {
			etc.util.cookie.write("fold-{{.Announce.AuthorID}}", "1", 3600 * 24 * 1000 * 30);
			hideAnnouncement();
		}

		function unfoldAnnouncement() {
			etc.util.cookie.remove("fold-{{.Announce.AuthorID}}");
			etc.let.show("announcement-content").show("fold-announcement").hide("unfold-announcement");
		}

		function hideAnnouncement() {
			etc.let.hide("announcement-content").hide("fold-announcement").show("unfold-announcement");
		}

		if (etc.util.cookie.read("fold-{{.Announce.AuthorID}}") == "1") hideAnnouncement();
	</script>
{{end}}

<div class="pager">
	{{if .IsIndexPage}}[ <b>[[First page]]</b> ]{{else}}
	[
	<a href="{{.IndexPage}}"> [[First page]] </a> |
	<a href="{{.Nav.PrevPage}}"> [[Prev Page]] </a>
	]
	{{end}}

	{{if .IsLastPage}}
	[ <b>[[Last page]]</b> ]
	{{else}}
	[
	<a href="{{.Nav.NextPage}}"> [[Next Page]] </a> |
	<a href="{{.Nav.LastWeekPage}}" >[[Week]]</a> |
	<a href="{{.Nav.LastMonthPage}}">[[Month]]</a> |
	<a href="{{.Nav.LastYearPage}}" >[[Year]]</a> |
	<a href="{{.LastPage}}" >[[Last page]]</a>
	]
	{{end}}
</div>

{{if .IsReply}}
	<table id="articles">
	{{range .Articles}}
	<tr class="darken">
		<td class="fit header right-align"><a class="smaller" href="/user/{{.AuthorID}}">{{.Author}}</a></td>
		<td class="title">
			<a class="title" href="/article/{{.ID}}">{{.Title}}</a><br>
			<span class="time">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
			</span>
		</td>
		<td class="fit last">
		<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
		</td>
	</tr>
	<tr><td colspan="3"><span class="preview-content">{{.Content}}</span></td>
	</tr>
	{{end}}
	</table>
{{else}}
<table id="articles">
	<tr>
		<th class="fit center"></th>
		<th style="text-align: left">文章标题</th>
		<th class="fit">作者</th>
		<th class="fit">回复</th>
		<th class="fit last">查看</th>
		<th class="fit last">最后修改</th>
	</tr>
	{{range .Articles}}
	<tr class="darken">

		<td class="fit center header">
			<a class="smaller" href="/tag/{{.Tag}}/page/1">{{.Tag}}</a>
		</td>

		<td class="title">
			<a href="/article/{{.ID}}" class="title">
			{{if .Deleted}}
				<del>{{.Title}}</del>
			{{else}}
				{{.Title}}
			{{end}}
			</a><br>
			<span class="time">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
			</span>
		</td>
		<td class="fit center"><a href="/user/{{.AuthorID}}">{{.Author}}</a></td>
		{{if .Children}}
			<td class="fit center reply" onclick="window.open('/reply/{{.ID}}/page/1')">{{.Children}}</td>
		{{else}}
			<td class="fit center"><b style="color: gray">-</b></td>
		{{end}}
		<td class="fit center last">{{.Hits}}</td>
		<td class="fit last">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
		</td>
	</tr>
	<tr>
	<td colspan="7"><span class="preview-content">{{.Content}}</span></td>
	</tr>
	{{end}}
</table>
{{end}}

<div class="pager">
	{{if .IsIndexPage}}[ <b>[[First page]]</b> ]{{else}}
	[
	<a href="{{.IndexPage}}"> [[First page]] </a> |
	<a href="{{.Nav.PrevPage}}"> [[Prev Page]] </a>
	]
	{{end}}
	{{if .IsLastPage}}
	[ <b>[[Last page]]</b> ]
	{{else}}
	[
	<a href="{{.Nav.NextPage}}"> [[Next Page]] </a> |
	<a href="{{.Nav.LastWeekPage}}" >[[Week]]</a> |
	<a href="{{.Nav.LastMonthPage}}">[[Month]]</a> |
	<a href="{{.Nav.LastYearPage}}" >[[Year]]</a> |
	<a href="{{.LastPage}}" >[[Last page]]</a>
	]
	{{end}}
</div>