{{if .CurType}}
	{{if .IsReply}}
		<title>[[Article Replies]]</title>
		<p id="breadcrumbs">

		<span><span class='fai'>&#xe00b;</span> 
		<a href="/new/article/{{.CurTag}}">[[Reply Article]]</a></span>

		<span><span class='fai'>&#xe023;</span>
		<a href="/article/{{.CurTag}}">[[Back to Article]]</a></span>
	{{end}}

	{{if .IsUA}}
		<title>[[User Articles]]</title>
		<p id="breadcrumbs">

		<span><span class='fai'>&#xe12b;</span> 
		<span>"{{.UA.UserNickName}}" [[Article]]</span></span>
	{{end}}

	{{if .IsOWA}}
		<title>[[Iceberg]]</title>
		<p id="breadcrumbs">

		{{if .OWA.IsViewingGlobal}}
			<span><span class='fai'>&#xe0bf;</span> 
			<span>[[Global Articles]]</span></span>
		{{else}}
			{{if .OWA.IsViewingOther}}
				<span><span class='fai'>&#xe12b;</span> 
				<span>"{{.OWA.ViewingOtherName}}" [[Article]]</span></span>
			{{else}}
				<span><span class='fai'>&#xe12c;</span> 
				<span>[[My Articles]]</span></span>
			{{end}}
		{{end}}

		<span data-dropdown="owa-dropdown">
		<span class='fai'>&#xe12c;</span> 
		<span class="nc">[[Tag Filter]]</span></span>
	{{end}}

	{{if .IsTag}}
		<title>{{.CurTag}}</title>
		<p id="breadcrumbs">

		<span><span class='fai'>&#xe10f;</span> 
		<span>"{{.CurTag}}" [[Article]]</span></span>

		<script type="text/javascript">
			function postUnderThisTag() {
				etc.util.cookie.write("default-tag", "{{.CurTag}}", 60000);
				window.location.href = "/new/article/0?" + window.location.href;
			}
		</script>
	
		<span><span class='fai'>&#xe0b7;</span>
		<a href="javascript:postUnderThisTag()">[[Post New Article]]</a></span>
	{{end}}
{{else}}
	<title>[[All Articles]]</title>
	<p id="breadcrumbs">
	
	<span><span class='fai'>&#xe0bf;</span> 
	<span>[[All Articles]]</span></span>
{{end}}

<span data-dropdown="search-dropdown" data-dropdown-onload="focusSearch()">
	<span class='fai'>&#xe14f;</span>
	<span class="nc">[[Search]]{{if .IsSearch}} "{{.SearchPattern}}"{{end}}</span>
</span>

<script type="text/javascript">
	document.title += " -- " + etc.date.format({{.Nav.Range.End}});
	document.write(buildTime({{.Nav.Range.Start}}, {{.Nav.Range.End}}));
</script>
</p>

<div id="search-dropdown" class="dropdown">
	<div>
		<input id="search-url" placeholder="[[Search]]" value="{{.SearchPattern}}">
	</div>
	<ul>
		<li onclick="doSearch()"><span class='fai'>&#xe14f;</span> 
		<span>[[Search it]]</span></li>

		{{if .IsSearch}}
			<li onclick="location.href='../../../page/1'">
			<span class='fai'>&#xe006;</span>
			<span>[[Back]]</span></li>
		{{end}}
	</ul>
	<script type="text/javascript">
		function doSearch() {
			var pat = encodeURIComponent(etc.id("search-url").value);
			location.href = pat == "" ? '../../../page/1' : "../search/" + pat + "/page/1";
		}

		function focusSearch() {
			etc.id("search-url").focus();
			etc.id("search-url").select();
		}

		etc.id("search-url").on("keydown", function(e) {
			if (e.which == 13 || e.keyCode == 13) doSearch();
		});
	</script>
</div>

{{if .IsOWA}}
	<div id="owa-dropdown" class="dropdown">
		<ul>
		<li onclick="reverseTag()"><span class='fai'>&#xe0e6;</span> [[Inverse]]</li>
		<li onclick="selectAll()"><span class='fai'>&#xe0e6;</span> [[Select all]]</li>
		{{range $key, $value := .Tags}}
		<li onclick="this.children[0].checked = !this.children[0].checked; updateTag({{$key}})">
			<input class="simple-check" type="checkbox" id="check-{{$key}}" checked/>
			<label for="check-{{$key}}">{{$value}}</label>
		</li>
		{{end}}
		</ul>
	</div>

	<script type="text/javascript">
		var omit = "{{.CurTag}}".split(":");
		omit.shift();
		for (var i in omit) {
			etc.id("check-" + omit[i]).checked = false;
		}

		function updateTag(tagID) {
			var r = new RegExp("\\:" + tagID + "(\\:?)");
			var owa = "{{.CurTag}}"
			var has = r.test("{{.CurTag}}");
			var cto = etc.id("check-" + tagID).checked;

			if (!cto && !has) {
				owa += ":" + tagID;
			} else if (cto && has) {
				owa = owa.replace(r, "$1");
			}

			window.location.href = "/owa/" + owa + "/page/1";
		}

		function reverseTag() {
			var omit = "{{.CurTag}}".split(":");
			var _new = [omit[0]];

			var chks = document.querySelectorAll("input.simple-check");
			for (var i in chks) {
				if (chks[i].checked) _new.push(chks[i].id.replace("check-", ""));
			}

			window.location.href = "/owa/" + _new.join(':') + "/page/1";
		}

		function selectAll() {
			var omit = "{{.CurTag}}".split(":");
			window.location.href = "/owa/" + omit[0] + "/page/1";
		}
	</script>
{{end}}

{{if .Announce.Content}}
	<div id="announcement">
		<div id="announcement-content">{{.Announce.Content}}</div>
		
		<div style="margin-top: 5px" id="fold-annc">
			<a href="/article/{{.Announce.ID}}" class="badge">
				&sect;{{.Announce.AuthorID}}-{{.Announce.ID}}-{{.Announce.Revision}}
			</a>
			<a href="/user/{{.Announce.AuthorID}}" class="badge">{{.Announce.Author}}</a>
			<a href="javascript:foldAnnc()" class="badge">[[Fold]]</a>
		</div>
		<div style="margin-top: 5px; display: none" id="unfold-annc">
			<a href="javascript:unfoldAnnc()" class="badge">[[Unfold]]</a>
		</div>
	</div>

	<script type="text/javascript">
	(function(){
		var foldCookie = "fold-{{.Announce.ID}}-{{.Announce.Revision}}";

		window.foldAnnc = function() {
			etc.util.cookie.write(foldCookie, "1", 3600 * 24 * 1000 * 30);
			hideAnnc();
		}

		window.unfoldAnnc = function() {
			etc.util.cookie.remove(foldCookie);
			etc.let.show("announcement-content").show("fold-annc").hide("unfold-annc");
		}

		window.hideAnnc = function() {
			etc.let.hide("announcement-content").hide("fold-annc").show("unfold-annc");
		}

		if (etc.util.cookie.read(foldCookie) == "1") hideAnnc();
	}())
	</script>
{{end}}

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}"));
</script>

{{if .IsReply}}
	<table id="articles">
	{{range .Articles}}
	<tr class="darken">
		<td class="fit header right-align"><a class="smaller" href="/user/{{.AuthorID}}">{{.Author}}</a></td>
		<td class="title reply" onclick="location.href='/article/{{.ID}}'">
			{{.Title}}<br>
			<span class="time">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
			</span>
		</td>
		<td class="fit last">
		<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
		</td>
	</tr>
	<tr><td colspan="3"><span class="preview-content">{{.Content}}</span></td>
	</tr>
	{{end}}
	</table>
{{else}}
<table id="articles">
	<tr>
		<th class="fit center"></th>
		<th style="text-align: left">文章标题</th>
		<th class="fit">作者</th>
		<th class="fit">回复</th>
		<th class="fit last">查看</th>
		<th class="fit last">最后修改</th>
	</tr>
	{{range .Articles}}
	<tr class="darken">

		<td class="fit center header">
			<a class="smaller" href="/tag/{{.Tag}}/page/1">{{.Tag}}</a>
		</td>

		<td class="title reply" onclick="location.href='/article/{{.ID}}'">
			{{if .Deleted}}
				<del>{{.Title}}</del>
			{{else}}
				{{.Title}}
			{{end}}
			<br>
			<span class="time">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
			</span>
		</td>
		<td class="fit center"><a href="/user/{{.AuthorID}}">{{.Author}}</a></td>
		{{if .Children}}
			<td class="fit center reply" onclick="window.open('/reply/{{.ID}}/page/1')">{{.Children}}</td>
		{{else}}
			<td class="fit center"><b style="color: gray">-</b></td>
		{{end}}
		<td class="fit center last">{{.Hits}}</td>
		<td class="fit last">
			<script type="text/javascript">document.write(etc.date.format({{.ModTimestamp}}));</script>
		</td>
	</tr>
	<tr>
	<td colspan="7"><span class="preview-content">{{.Content}}</span></td>
	</tr>
	{{end}}
</table>
{{end}}

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}"));
</script>