<title>[{{.Article.Tag}}] {{.Article.Title}}</title>
<p id="breadcrumbs">
	{{if .Article.IsMessage}}
		<span class='fai'>&#xe0a5;</span> [[Private Message]] |

		<span class='fai' title="[[Last modified date]]">&#xe120;</span>
		<script type="text/javascript">
			document.write(etc.date.format({{.Article.ModTimestamp}}, true));
		</script> |

		{{if .Article.IsMessageSentout}}
		{{else}}
		<span class='fai'>&#xe00b;</span>
		<a href="/new/message/{{.Article.AuthorID}}">[[Reply]]</a> |

		<span class='fai'>&#xe073;</span>
		<a data-onclick="tryUnread()">[[Mark as unread]]</a> |
		{{end}}

		<span class='fai'>&#xe12b;</span>
		<a href="/user/{{.Article.AuthorID}}">{{.Article.Author}}</a> 
		→ 
		<a href="/user/{{.Article.Tag}}">{{.Article.Tag}}</a> |

		<span class='fai'>&#xe123;</span>
		<a data-onclick="tryDeleteRestore(true)">[[Delete]]</a>
	{{else}}
		<span data-dropdown="article-function">
			<span class='fai'>&#xe0bf;</span>
			<span class='nc'>[[Article]]</span>
		</span> |

		<span data-dropdown="article-history" data-dropdown-onload="getHistory()">
			<span class='fai' title="[[Last modified date]]">&#xe120;</span>
			<span id="article-revision" class='nc'><script type="text/javascript">
				document.write(etc.date.format({{.Article.ModTimestamp}}, true));
			</script>{{if .Article.Revision}} (r{{.Article.Revision}}){{end}}</span>
		</span> |
		
		<span class='fai'>&#xe12c;</span>
		<a href="/user/{{.Article.AuthorID}}" title="[[Author]]">{{.Article.Author}}</a> |

		{{if .IsEditedByOthers}}
		<span class='fai'>&#xe12b;</span>
		<a href="/user/{{.Article.OriginalAuthorID}}" title="[[Original author]]">{{.Article.OriginalAuthor}}</a> |
		{{end}}

		<span class='fai'>&#xe10f;</span>
		<a href="/tag/{{.Article.Tag}}/page/1" title="[[Tag]]">{{.Article.Tag}}</a> |

		{{if .Article.ParentID}}
			<span class='fai'>&#xe00b;</span>
			<a href="/article/{{.Article.ParentID}}" title="[[Parent article]]">{{.Article.ParentTitle}}</a> |
		{{else}}
			{{if .Article.Children}}
			<span class='fai'>&#xe0b8;</span>
			<a href="/reply/{{.Article.ID}}/page/1">{{.Article.Children}} [[reply(s)]]</a> |
			{{end}}

			<span class='fai'>&#xe0b7;</span>
			<a href="/new/article/{{.Article.ID}}?/reply/{{.Article.ID}}/page/1">[[Reply this article]]</a> |
		{{end}}

		<span class='fai'>&#xe06e;</span> <span title="[[Views]]">{{.Article.Hits}}</span>
	{{end}}

	{{if .Article.Deleted}}
		| <span class='fai' title="[[This article has been deleted]]">&#xe058;</span>
	{{end}}

	{{if .Article.Locked}}
		| <span class='fai' title="[[This article has been locked]]">&#xe0a2;</span>
	{{else}}
		| <span class='fai'>&#xe0a4;</span>
	{{end}}
</p>

<div id="article-history" class="dropdown"><span id="article-history-loading"></span></div>

<div id="article-function" class="dropdown">
	<ul>
		<li><span class='fai'>&#xe08d;</span> 
		<a href="javascript:switchView()" id="switch-mode" data-mode="normal">[[Gallery mode]]</a>
		</li>

		<li><span class='fai'>&#xe0d4;</span> 
		<a href="javascript:gotoRaw()" id="goto-raw" data-raw="0">[[Raw]]</a>
		</li>
		
		{{if .IsLoggedIn}}
			{{if .IsAuthorSelf}}
				{{if .Article.IsMessage}}{{else}}
					<li><span class='fai'>&#xe067;</span>
					<a href='javascript:goEdit()'>[[Edit]]</a></li>
				{{end}}

				<li><span class='fai'>&#xe123;</span>
				<a data-onclick="tryDeleteRestore(true)">
					{{if .Article.Deleted}}[[Restore]]{{else}}[[Delete]]{{end}}
				</a></li>

				<li><span class='fai'>&#xe123;</span>
				<a data-onclick="tryDeleteRestore(false)">[[Delete all images]]</a></li>
			{{end}}

			{{if .CanMakeLocked}}
				<li><span class='fai'>&#xe0a2;</span>
				<a data-onclick="goLock()">
					{{if .Article.Locked}}[[Unlock]]{{else}}[[Lock]]{{end}}
				</a></li>
			{{end}}	
		{{end}}
	</ul>
</div>

<script type="text/javascript">
	function goEdit() {
		window.location.href="/edit/article/{{.Article.ID}}?" + window.location.href;
	}

	function gotoRaw() {
		var e = etc.id("goto-raw");
		window.open("/article/{{.Article.ID}}/raw/" + e.attr("data-raw"));
	}

	function goLock() {
		etc.util.ajax.post("/lock/article/{{.Article.ID}}", {"csrf":etc.util.CSRF()}).then(function(e, d, x){
			etc.wait.on(this).done();

			if (d == "ok") {
				alert("[[Operation completed]]");
				window.location.reload();
			}
			else {
				alert("[[Error: ]]" + d);
			}
		});

		return etc.wait.on(this);
	}

	function getHistory() {
		if (etc.id("article-history-loading")) {
			Animation.start("article-history-loading");
		} else {
			return;
		}

		etc.util.ajax.get("/article/{{.Article.ID}}/history?" + new Date().getTime()).then(function(e, d, x){
			getHistory.history = JSON.parse(d);
			var has = false;
			var _html = ["</ul>"];
			for(var k in getHistory.history) {
				has = true;
				_html.push("<li data-onclick='getHistoryVersion(" + k + ")' onclick='etc.wait.onclick(this)'>" + 
					getHistory.history[k].User + " - " + 
					etc.date.format(getHistory.history[k].Date, true) + "</li>");
			}
			if (!has) _html.push("<li>[[No history version]]</li>");
			_html.push("<ul style='cursor: pointer'>");

			Animation.stop();
			etc.id("article-history").html(_html.reverse().join(''));
		});
	}

	function getHistoryVersion(rev) {
		etc.util.ajax.get("/article/{{.Article.ID}}/history/" + rev).then(function(e, d, x){
			etc.wait.on(this).done();

			if (x.status == 503) {
				alert("[[No permission to view this article]]");
				return;
			}
			
			var j = JSON.parse(d);
			etc.id("article-revision").html(
				etc.date.format(getHistory.history[rev].Date, true) + " (#" + rev + ")");

			etc.id("article-title").html(j.Title);
			etc.id("article-content").html(etc.string.unescape(j.Content));
			var g = etc.id("gallery");
			if (g && g.parentNode) g.parentNode.removeChild(g);

			var el = etc.id("switch-mode");

			if (el.attr("data-mode") == "gallery") {
				el.attr("data-mode", "normal");
				el.innerHTML = "[[Gallery mode]]";
				etc.let.show("article-content");
			}

			etc.id("goto-raw").attr("data-raw", rev);
		});
		return etc.wait.on(this);
	}

	function tryDeleteRestore(article){
		if (!article) {
			if (!confirm("[[Confirm to delete all images in this article]]")) 
				return etc.wait.on(this).done();
		}

		etc.util.ajax.post(article ? 
			"/delete/article/{{.Article.ID}}/true" : 
			"/delete/images/{{.Article.ID}}", {
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("[[Operation completed]]");
				window.location.reload();
			} else {
				alert("[[Error: ]]" + text);			
			}
		});

		return etc.wait.on(this);
	}

	function tryUnread() {

		etc.util.ajax.post("/unread/message/{{.Article.ID}}", {"csrf": etc.util.CSRF()}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("[[Operation completed]]");
				window.history.back();
			} else {
				alert("[[Error: ]]" + text);
			}
		});

		return etc.wait.on(this);
	}

	function switchView() {
		etc.util.lazyLoad(["/assets/gallery.js"], function(){
			var el = etc.id("switch-mode");

			if (el.attr("data-mode") == "normal") {
				el.attr("data-mode", "gallery");
				el.innerHTML = "[[Article mode]]";
				Gallery._Gallery();
			} else {
				el.attr("data-mode", "normal");
				el.innerHTML = "[[Gallery mode]]";
				Gallery._Normal();
			}
		})
	}
</script>

<h1 id="article-title">
{{.Article.Title}}
</h1>

<hr>

<div id="article-content">{{.Article.Content}}</div>