{{if .Message}}
	<title>[[Send Private Message]]</title>
{{else}}
	{{if .Update}}
	<title>[[Edit article]]</title>
	{{else}}
	<title>[[Post new article]]</title>
	{{end}}
{{end}}

<p id="breadcrumbs">
	{{if .Message}}
		[[Send Private Message]] <span class='fai'>&#xe12b;</span> 
		<a href='/user/{{.ReplyTo}}'>{{.MessageReceiverName}}</a> | 
	{{else}}
		{{if .Update}}
			[[Edit]] <span class='fai'>&#xe0bf;</span>
			<a href='/article/{{.ReplyTo}}'>{{.ReplyTo}}</a> | 
		{{else}}
			{{if .ReplyTo}}
				[[Reply]] <span class='fai'>&#xe0bf;</span> 
				<a href='/article/{{.ReplyTo}}'>{{.ReplyTo}}</a> | 
			{{else}}
				<span class='fai'>&#xe0bf;</span> [[Post new article]] |
			{{end}}
		{{end}}
	{{end}}

	<span class='fai' title="[[Logged-in as]]">&#xe12c;</span>
	{{if .IsLoggedIn}}
		{{.Username}}
	{{else}}
		[[Anonymous]]
	{{end}}
</p>

{{if .Update}}
<pre id="article-raw-content" style="display: none">{{.Article.Content}}</pre>
{{end}}

<script type="text/javascript">
	window.onload = (function() {
		etc.editor.wrap("thread-content");
	    etc.id("thread-content").onpaste = function(event){
			var items = (event.clipboardData || event.originalEvent.clipboardData).items;

			for (index in items) {
			  	var item = items[index];
			  	if (item.kind === 'file') {
			    	var blob = item.getAsFile();
		    		Animation.start("uploading-sign");
					etc.editor.uploadImage([blob], function() {
						Animation.stop();
					}, {"editor": "thread-content"});
			  	}
			}
		}

		etc.id("thread-content").onkeydown = (function (ev) {
		  	var key;
		  	var isShift, isCtrl;
		  	if (window.event) {
		    	key = window.event.keyCode;
		    	isShift = !!window.event.shiftKey;
		    	isCtrl = !!window.event.ctrlKey;
		  	} else {
		    	key = ev.which;
		    	isShift = !!ev.shiftKey;
		    	isCtrl = !!ev.ctrlKey;
		  	}
			if (isShift && isCtrl && key == 88) etc.editor.clearFormat();
		});

		var selT = etc.get('#thread-tag option');
		var defaultTag = etc.util.cookie.read("default-tag") || 1;

		for(var i = 0; i < selT.length; i++) {
			var h = selT[i].innerHTML.trim();
			if (h[0] == 
				{{if .Message}}"m"{{else}}
					{{if .ReplyTo}}
						{{if .Update}}""{{else}}"r"{{end}}
					{{else}}
						""
					{{end}}
				{{end}} || selT[i].value === defaultTag
			) {
				selT[i].selected = true;
				selT[i].innerHTML = h + " ([[Default tag]])";
				etc.let.disable("thread-tag");
				break;
			}
		}

		etc.util.cookie.remove("default-tag");

        {{if .Update}}
        	setInterval(saveDraft, 20000);
			var d = etc.util.read("draft-edit-{{.ReplyTo}}");
			if (d && d.length > 1) 
				etc.id("thread-content").html(d);
			else
				etc.id("thread-content").html(etc.string.unescape(etc.id("article-raw-content").innerHTML));

			etc.id("thread-title").value = etc.string.unescape("{{.Article.Title}}");

			var e = etc.id("thread-tag");
			for (var i = 0; i < e.options.length; i++) {
				if(e.options[i].value === "{{.Article.Tag}}") {
					e.selectedIndex = i;
					break;
				}
			}

			etc.util.ajax.get("/article/{{.Article.ID}}/history?" + new Date().getTime()).then(function(e, d, x){
				var j = JSON.parse(d);

				var _html = ["</ul>"];
				for(var k in j) {
					has = true;
					_html.push("<li data-onclick='getHistoryVersion(" + k + ")' onclick='etc.wait.onclick(this)'>" + 
						j[k].User + " - " + etc.date.format(j[k].Date, true) + "</li>");
				}
				_html.push("<li onclick='getHistoryVersion(-1)'><b>{{.Article.Author}} - [[Current version]]</b></li>");
				_html.push("<ul style='cursor: pointer'>");

				etc.id("article-history").innerHTML = _html.reverse().join('');
				etc.id("article-history-button").style.display = "inline";

				setupScroll();
			});
		{{else}}
			setInterval(saveDraft, 20000);
			var d = etc.util.read({{if .Message}}"draft-message-{{.ReplyTo}}"{{else}}"draft-{{.ReplyTo}}"{{end}});		
			if (d && d.length > 1) etc.id("thread-content").html(d);

			setupScroll();
		{{end}}

		var te = etc.id("thread-title");
		te.onchange = te.onkeyup = te.onkeydown = te.onpaste = function() {
			etc.id("title-length").innerHTML = "(" + etc.string.utf8Len(te.value) + "/512)";
		}
  	});

	function setupScroll() {
		var elem = etc.id("editor-container");
		var t = elem.getBoundingClientRect().top;
		var dt = document.body.getBoundingClientRect().top;
		t = t - dt;

		window.onscroll = function(e) {

		    if (document.body.scrollTop > t) {
		        elem.setAttribute("style", "position:fixed;left:0;top:0");
		    } else {
		        elem.setAttribute("style", "");
		    }
		}
	}

	function tryPost(){
		var title = etc.id("thread-title").value;

		etc.util.ajax.post("/post/{{.ReplyTo}}", {
			"tag": etc.id("thread-tag").value,
			"title": title == "" ? "---" : title,
			"content": etc.id("thread-content").innerHTML,
			"update": "{{.Update}}",
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("[[Operation completed]]");
				clearDraft(true);
				goBack();
			} else {
				alert("[[Error: ]]" + text);
			}
		});

		return etc.wait.on(this);
	}

	function tryPreview(){
		etc.util.ajax.post("/preview", {
			"content": etc.id("thread-content").innerHTML
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text.indexOf("Err::") == 0) {
				alert("[[Error: ]]" + text);
			} else {
				etc.id("thread-content").innerHTML = text;
			}
		});

		return etc.wait.on(this);
	}

	function goBack() {
		var url = window.location.href.split("?");
		if (url.length < 2) 
			window.location.href = '/';
		else
			window.location.href = (url[1]);
	}

	function toggleHistoryList() {
		var ah = etc.id("article-history");
		
		if (ah.style.display == "none") {
			etc.let.show("article-history");
			etc.let.show("article-history-underlay");
		} else {
			etc.let.hide("article-history");
			etc.let.hide("article-history-underlay");
		}
	}

	function getHistoryVersion(id) {
		if (id == -1) {
			etc.wait.on(this).done();
			window.location.reload();
		}
		else
			etc.util.ajax.get("/article/{{.Article.ID}}/history/" + id).then(function(e,d,x){
				etc.wait.on(this).done();
				var j = JSON.parse(d);
				etc.id("thread-title").value = (etc.string.unescape(j.Title));
				etc.id("thread-content").innerHTML = (etc.string.unescape(j.Content));
				
				toggleHistoryList();
			});

		return etc.wait.on(this);
	}

	function saveDraft() {
		{{if .Update}}
			var d = "draft-edit-{{.ReplyTo}}";
		{{else}}
		{{if .Message}}
			var d = "draft-message-{{.ReplyTo}}";
		{{else}}
			var d = "draft-{{.ReplyTo}}";
		{{end}}
		{{end}}

		etc.util.write(d, etc.id("thread-content").innerHTML);
		etc.id("save-draft").innerHTML = "[[Draft has been saved at]] " + etc.date.now() + " " + d;
	}

	function clearDraft(p) {
		{{if .Update}}
			var d = "draft-edit-{{.ReplyTo}}";
		{{else}}
		{{if .Message}}
			var d = "draft-message-{{.ReplyTo}}";
		{{else}}
			var d = "draft-{{.ReplyTo}}";
		{{end}}
		{{end}}

		etc.util.storage.remove(d);

		if (p) return;

		alert("[[Clear draft]]: " + d);
		window.location.reload();
	}
</script>

<div id="editor">
	<div>
		[[Title]]:
		<span id="title-length"></span><br>
		<textarea id="thread-title" rows="2"></textarea>
	</div>
	<div>
		[[Content]]:
		<a id="article-history-button" style="display: none" href="javascript:toggleHistoryList()">[[Rollback history]]</a>	
		<div id="article-history-underlay" class="dropdown-underlay" onclick="toggleHistoryList()"></div>
		<div id="article-history" class="dropdown" style="margin-top: 0; display: none"></div>
	</div>
	<div id="tr-edit">
		<div id="editor-container" unselectable="on">
			<div id="editor-outter-panel" unselectable="on">
				<div id="editor-panel" unselectable="on" style="overflow: hidden; padding: 0.33em; color: #ccc;">
					<span><span id="uploading-sign"></span>
					<a href="javascript:etc.id('file-uploader').click()" title="上传图片">&#xe04b;</a>
					<a href="javascript:etc.id('file-uploader-imgur').click()" title="上传图片至imgur">&#xe08d;</a>
					<a href="javascript:openUploader()" title="打开新窗口上传图片（兼容）">&#xe06d;</a> <b>|</b>
					<a href="javascript:etc.editor.insertLink(function(u){return prompt('显示文字:',u)})" title="插入链接">&#xe09c;</a>
					<a href="javascript:etc.editor.insertList('ol')" title="插入顺序列表">&#xe101;</a>
					<a href="javascript:etc.editor.insertList('ul')" title="插入列表">&#xe114;</a>
					<a href="javascript:etc.editor.insertTable(prompt('行 x 列:', '3x2'))" title="插入表格">&#xe111;</a>
					<a href="javascript:etc.editor.insertTitle()" title="插入居中标题">&#xe04d;</a> <b>|</b>
					<a href="javascript:etc.editor.switchMonospace()" title="切换字体 (默认 <-> 等距)">&#xe0e5;</a>
					<a href="javascript:etc.editor.clearFormat()" title="清空格式 (Ctrl+Shift+X)">&#xe070;</a>
					<a href="javascript:clearContent()" title="清空内容">&#xe122;</a>
					
					<input style="visibility: collapse; width: 0px;" id="file-uploader-imgur" type="file" multiple>
					<input style="visibility: collapse; width: 0px;" id="file-uploader" type="file" multiple>

					<script type="text/javascript">
						function clearContent() {
							if (confirm("是否清空内容")) etc.id("thread-content").innerHTML = "";
						}

						etc.id("file-uploader").onchange = function(e) { tryUploadImage('', e); }

						etc.id("file-uploader-imgur").onchange = function(e) { tryUploadImage('-imgur', e); }

						function tryUploadImage(imgur, e) {
							Animation.start("uploading-sign");
							etc.editor.uploadImage(etc.file('file-uploader' + imgur, e), function() {
								etc.id("file-uploader" + imgur).value = "";
								Animation.stop();
							}, {"editor": "thread-content", "imgur": imgur});
						}

						function openUploader() {
							var w = window.open("", "",
								"resizable=no, toolbar=no, scrollbars=no, menubar=no, status=no, directories=no, width=500, height=500");
							w.document.body.innerHTML = ['<form method="post" id="ie-upload-workaround" ',
							'action="https://2ax.org/upload" ',
							'enctype="multipart/form-data" encoding="multipart/form-data">',
							'<input name="image" type="file" id="form-uploader"/>',
							'<input name="direct" type="hidden" value="direct" />',
							'<input type="submit" value="上传" /></form>'].join('');
						}
						
					    window.ondragover = function(e) {e.preventDefault();}
					    window.ondrop = function(e) {
					    	e.preventDefault(); 

					    	Animation.start("uploading-sign");
					    	etc.editor.uploadImage(etc.file(e.dataTransfer.files), function() {
								Animation.stop();
							}, {"editor": "thread-content"});
					    }
					</script>
					</span>
				</div>
			</div>
		</div>
		<div id="content-container">
	        <div contenteditable="true" id="thread-content"></div>
        </div>
	</div>

	<div style="margin-top: 5px">
		<select id="thread-tag">
			<option value="">[[-- please select a tag --]]</option>
			<optgroup label="[[General tags]]">
			{{range .Tags}}
				{{if .Visible}}
				<option value="{{.Name}}">
					{{.Short}}: {{.Name}} {{range .PermittedTo}}[{{.}}] {{end}}
				</option>
				{{end}}
			{{end}}
			</optgroup>
			{{if .IsLoggedIn}}
				<optgroup label="[[Hidden/restricted tags]]">
				{{range .Tags}}
					{{if .Visible}}{{else}}
					<option value="{{.Name}}">
						{{.Short}}: {{.Name}} {{range .PermittedTo}}[{{.}}] {{end}}
					</option>
					{{end}}
				{{end}}
				</optgroup>
			{{end}}
		</select>
	</div>

	<div style="margin-top: 5px">
		<button id="post-article" data-onclick="tryPost()">{{if .Update}}[[Edit]]{{else}}[[Post]]{{end}}</button>
		<button data-onclick="tryPreview()">[[Preview]]</button>
		<button onclick="clearDraft()">[[Clear draft]]</button>
		<span id="save-draft"></span>
	</div>

	<div>
		<ul>
			<li>匿名身份只可以选择[a: 匿名]或[r: 回复区]标签</li>
			<li>回复一篇文章时内容不是必须的，可以把回复写在标题里。一般请选择[r: 回复区]标签</li>
			<li>
			使用Gist请编辑HTML并粘贴:<br> 
			&lt;script src="https://gist.github.com/xxx/1234567890abcdef1234567890abcdef.js"&gt;&lt;/script&gt;
			</li>

			<li>
				[[Allowed HTML tags]]:
				{{range $key, $value := .HTMLTags}}
				{{if $value}}&lt;{{$key}}&gt;{{end}}
				{{end}}
			</li>
			<li>
				[[Allowed tag attributes]]:
				{{range $key, $value := .HTMLAttrs}}
				{{if $value}}\{{$key}}{{end}}
				{{end}}
			</li>
		</ul>
	</div>

</div>