{{if .Message}}
	<title>[[Send Private Message]]</title>

{{else}}{{if .Update}}
	<title>[[Edit article]]</title>

{{else}}
	<title>[[Post new article]]</title>

{{end}}{{end}}

<p id="breadcrumbs">
	<span><span class='fai'>&#xe12c;</span>
	<span title="[[Logged-in as]]">{{if .IsLoggedIn}}{{.Username}}{{else}}[[Anonymous]]{{end}}</span></span>

	{{if .Message}}
		<span><span>[[Send Private Message]]</span> <span class='fai'>&#xe12b;</span> 
		<a href='/user/{{.ReplyTo}}'>{{.MessageReceiverName}}</a></span>

	{{else}}{{if .Update}}
		<span><span>[[Edit]]</span> <span class='fai'>&#xe067;</span>
		<a href='/article/{{.ReplyTo}}'>{{.ReplyTo}}</a></span>

		<span data-dropdown="article-history">
			<span class='fai'>&#xe010;</span>
			<span id="article-revision" class='nc'>[[Rollback History]]</span>
		</span>

	{{else}}{{if .ReplyTo}}
		<span><span>[[Reply]]</span> <span class='fai'>&#xe00b;</span> 
		<a href='/article/{{.ReplyTo}}'>{{.ReplyTo}}</a></span>

	{{else}}
		<span><span class='fai'>&#xe067;</span> 
		<span>[[Post new article]]</span></span>

	{{end}}{{end}}{{end}}

	<span data-dropdown="clear-function">
		<span class='fai'>&#xe123;</span>
		<span id="article-revision" class='nc'>[[Clear]]</span>
	</span>

	<span>
	<span class='fai'>&#xe10d;</span>
	<span class="nc" data-onclick="tryPreview()" data-mode="edit" id="go-preview">[[Preview]]</span>
	</span>

	<span>
	<span class='fai'>&#xe11e;</span>
	<span class="nc" data-onclick="tryPost()" id="post-article">
		{{if .Update}} [[Edit]] {{else}} [[Post]] {{end}}
	</span></span>
</p>

{{if .Update}}
<pre id="article-raw-content" style="display: none">{{.Article.Raw}}</pre>
<div id="article-history" class="dropdown" data-version="-1"></div>
{{end}}

<div id="clear-function" class="dropdown">
	<ul>
		<li onclick="clearContent()"><span class="fai">&#xe122;</span> [[Clear content]]</li>
		<li onclick="alterDraft('clear')"><span class="fai">&#xe122;</span> [[Clear draft]]</li>
	</ul>
</div>

<div id="tag-list" class="dropdown">
	<div>
		<input type="textbox" id="search-tag" onchange="searchTag()" onkeyup="searchTag()"/>
	</div>
	<ul>
	{{if not .IsLoggedIn}}
	<style type="text/css">
		li[data-short] { display: none; }
		li[data-short=r], li[data-short=an] { display: list-item; }
	</style>
	{{end}}

	{{range .Tags}}
		{{if or .Visible $.IsLoggedIn}}
		<li data-tag="{{.Name}}" data-short="{{.Short}}" onclick="etc.id('thread-tag').html('{{.Name}}')">
			{{if .Visible}}
			<span class="fai">&#xe06f;</span>
			{{else}}
			<span class="fai" style="color: #ccc">&#xe06e;</span>
			{{end}}
			{{.Short}}: {{.Name}} {{range .PermittedTo}}[{{.}}] {{end}}
		</li>
		{{end}}
	{{end}}
	</ul>
</div>

<script type="text/javascript">
	window.onload = function() {
	    etc.id("thread-content").on("paste", function(ev){
			var items = (ev.clipboardData || ev.originalEvent.clipboardData).items;

			for (index in items) {
			  	var item = items[index];
			  	if (item.kind === 'file') {
			    	var blob = item.getAsFile();
		    		Animation.start("uploading-sign");
					etc.editor.uploadImage([blob], function(e) {
						Animation.stop();
						if (e) etc.id("uploading-sign").html(e);
					}, {"editor": "thread-content"});
			  	}
			}
		}).on("keydown", function (ev) {
	        if (ev.keyCode == 9 || ev.which == 9) {
	        	try { ev.preventDefault(); } catch (e) {}
	            etc.editor.insertText(etc.id("thread-content"), "\t");
	        }
		});


		var defaultTag = etc.util.cookie.read("default-tag") || 1;
		{{if .IsLoggedIn}}
		if (defaultTag != 1) etc.id("thread-tag").html(defaultTag);
		{{end}}

		{{if .Message}}
			etc.id("thread-tag").html(etc.get("li[data-short=m]")[0].getAttribute("data-tag"));
		{{else}}
			{{if not .Update}}{{if .ReplyTo}}
				etc.id("thread-tag").html(etc.get("li[data-short=r]")[0].getAttribute("data-tag"));
			{{end}}
		{{end}}{{end}}

		etc.util.cookie.remove("default-tag");
		setInterval(function() { alterDraft('save'); }, 20000);

        {{if .Update}}
			var lastDraft = etc.util.read("draft-edit-{{.ReplyTo}}");
			etc.id("thread-content").value = (lastDraft && lastDraft.length > 1) ? lastDraft : 
				etc.string.unescape(etc.id("article-raw-content").innerHTML);

			etc.id("thread-title").value = etc.string.unescape("{{.Article.Title}}");

			etc.id("thread-tag").html("{{.Article.Tag}}");

			etc.util.ajax.get("/article/{{.Article.ID}}/history?" + new Date().getTime()).then(function(e, d, x){
				var j = JSON.parse(d);

				var _html = ["</ul>"];
				for(var k in j) {
					_html.push("<li data-onclick='getHistoryVersion(" + k + 
						")' id='eye-ver-" + k + "' onclick='etc.wait.onclick(this)'>" + 
						"<span class='fai'>&#xe06f;</span> <span>#" + k + " - " +
						j[k].User + "<span class='date'>" + etc.date.format(j[k].Date, true) + 
						"</span></span></li>");
				}
				_html.push("<li onclick='getHistoryVersion(-1)' id='eye-ver--1' selected='selected'>" + 
					"<span class='fai'>&#xe06f;</span> "+
					"<span>[[Current version]] - {{.Article.Author}}</span></li>");
				_html.push("<ul>");

				etc.id("article-history").innerHTML = _html.reverse().join('');

				setupScroll();
			});
		{{else}}
			var d = etc.util.read({{if .Message}}"draft-message-{{.ReplyTo}}"{{else}}"draft-{{.ReplyTo}}"{{end}});		
			if (d && d.length > 1) etc.id("thread-content").value = (d);

			setupScroll();
		{{end}}

		var te = etc.id("thread-title");
		te.onchange = te.onkeyup = te.onkeydown = te.onpaste = function() {
			etc.id("title-length").innerHTML = "(" + etc.string.utf8Len(te.value) + "/512)";
		}
  	}

  	window.ondragover = function(e) { 
    	e.preventDefault(); 
    }
    
    window.ondrop = function(e) {
    	e.preventDefault(); 

    	Animation.start("uploading-sign");
    	etc.editor.uploadImage(etc.file(e.dataTransfer.files), function(e) {
			Animation.stop();
			if (e) etc.id("uploading-sign").html(e);
		}, {"editor": "thread-content"});
    }

    function searchTagOnload() {
    	etc.id("search-tag").focus();
    	etc.id("search-tag").select();

    	var curTag = etc.id("thread-tag").innerHTML;

    	etc.get("#tag-list li").forEach(function(e) {
			e.setAttribute("selected", e.getAttribute("data-tag") == curTag ? "selected" : "");
			e.setAttribute("visible", "");
    	});
    }

    function searchTag() {
    	var tester = etc.id("search-tag").value;

    	etc.get("#tag-list li").forEach(function(e) {
			if ((e.getAttribute("data-short") + " " + e.getAttribute("data-tag")).indexOf(tester) > -1 ||
				tester == "")
				e.setAttribute("visible", "");
			else
				e.setAttribute("visible", "hide");
    	});
    }

  	function clearContent() {
		if (confirm("[[Confirm to clear content]]")) etc.id("thread-content").value = "";
	}

	function insertLink() {
		var url = prompt("URL:", "http://");
		var text = prompt("Text:", url);
		var bb = "[url"
		if (text == url && text != "")
			bb += "]" + url + "[/url]";
		else 
			bb += "=" + url + "]" + text + "[/url]";

		etc.editor.insertText(etc.id("thread-content"), bb);
	}

	function tryUploadImage(t, e) {
		Animation.start("uploading-sign");
		var payload = {
			"additional_form": { "hide": t == "hide" },
			"editor": "thread-content", 
			"type": t
		};

		etc.editor.uploadImage(etc.file('file-uploader-' + t, e), function(e, file) {
			if (e) {
				alert(file.name + ": " + e);
			} else {
				etc.id("file-uploader-" + t).value = "";
				Animation.stop();
			}

		}, payload);
	}

	function setupScroll() {
		var elem = etc.id("editor-container");
		var t = elem.getBoundingClientRect().top;
		var dt = document.body.getBoundingClientRect().top;
		t = t - dt;

		window.onscroll = function(e) {
	        elem.attr("style", document.body.scrollTop > t ? "position:fixed;left:0;top:0" : "");
		}
	}

	function tryPost(){
		var title = etc.id("thread-title").value;

		etc.util.ajax.post("/post/{{.ReplyTo}}", {
			"tag": etc.id("thread-tag").innerHTML,
			"title": title == "" ? "---" : title,
			"content": etc.id("thread-content").value,
			"update": "{{.Update}}",
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (/ok::.+/.test(text)) {
				alterDraft('clear-silent');
				location.href = 
					{{if .Message}}
						"/message/{{.ReplyTo}}/page/1";
					{{else}}{{if .Update}}
						"/article/{{.ReplyTo}}";
					{{else}}{{if .ReplyTo}}
						"/reply/{{.ReplyTo}}/page/1";
					{{else}}
						"/tag/" + text.substr(4) + "/page/1";
					{{end}}{{end}}{{end}}
			} else {
				etc.id("post-article").html("[[Error: ]]" + text);
			}
		});

		return etc.wait.on(this);
	}

	function tryPreview(){
		var gp = etc.id("go-preview");

		if (gp.attr("data-mode") == "edit") {
			etc.util.ajax.post("/preview", {
				"content": etc.id("thread-content").value
			}).then(function(error, text, xhr) {
				etc.wait.on(this).done();

				if (text.indexOf("Err::") == 0) {
					alert("[[Error: ]]" + text);
				} else {
					etc.let.show("tr-preview").hide("tr-edit").show("article-content").$.innerHTML = text;
					gp.attr("data-mode", "preview");
					gp.html("[[Back]]");
				}
			});

			return etc.wait.on(this);
		} else {
			return etc.wait.on(this).then(function() {
				gp.attr("data-mode", "edit");
				etc.let.hide("tr-preview").show("tr-edit");
				gp.innerHTML = "[[Preview]]";
			}).done();
		}
	}

	function getHistoryVersion(id) {
		if (id == -1) {
			etc.wait.on(this).done();
			window.location.reload();
		} else {
			etc.util.ajax.get("/article/{{.Article.ID}}/history/" + id).then(function(e,d,x){
				etc.wait.on(this).done();
				var j = JSON.parse(d);
				etc.id("thread-title").value = etc.string.unescape(j.Title);
				etc.id("thread-content").value = etc.string.unescape(j.Raw);

				etc.id("eye-ver-" + etc.id("article-history").attr("data-version")).attr("selected", "false");
				etc.id("eye-ver-" + id).attr("selected", "selected");
				etc.id("article-history").attr("data-version", id);
			});
		}

		return etc.wait.on(this);
	}

	function alterDraft(action) {
		{{if .Update}}
			var d = "draft-edit-{{.ReplyTo}}";
		{{else}}{{if .Message}}
			var d = "draft-message-{{.ReplyTo}}";
		{{else}}
			var d = "draft-{{.ReplyTo}}";
		{{end}}{{end}}

		var s = false
		switch (action) {
		case "save":
			etc.util.write(d, etc.id("thread-content").value);
			etc.id("save-draft").innerHTML = "([[Draft has been saved at]] " + etc.date.now() + " " + d + ")";
			break;
		case "clear-silent":
			s = true;
		case "clear":
			etc.util.storage.remove(d);
			if (!s) {
				alert("[[Clear draft]]: " + d);
				window.location.reload();
			}
		}
	}
</script>

<div id="editor">
	<div>
		[[Title]]:
		<span id="title-length"></span><br>
		<textarea id="thread-title" rows="2"></textarea>
	</div>

	<div>
		<span data-dropdown="tag-list" id="thread-tag" data-subdropdown="true" data-dropdown-onload="searchTagOnload()">
			[[-- please select a tag --]]
		</span>
	</div>

	<div style="margin-top: 4px">
		[[Content]]: <span id="save-draft"></span>
	</div>

	<div id="tr-edit">
		<div id="editor-container" unselectable="on">
			<div id="editor-panel" unselectable="on" style="overflow: hidden; padding: 0.33em; color: #ccc;">
				<span><span id="uploading-sign"></span>
				<a href="javascript:etc.id('file-uploader-').click()" title="[[Upload image]]">&#xe04b;</a>
				<a href="javascript:etc.id('file-uploader-hide').click()" title="[[Upload image]], [[Hide in my gallery]]">&#xe054;</a>
				<a href="javascript:etc.id('file-uploader-imgur').click()" title="[[Upload image to imgur.com]]">&#xe08d;</a>
				<a href="javascript:insertLink()" title="[[Insert link]]">&#xe09b;</a>
				
				<input id="file-uploader-imgur" type="file" multiple onchange="tryUploadImage('imgur', event)">
				<input id="file-uploader-hide" type="file" multiple onchange="tryUploadImage('hide', event)">
				<input id="file-uploader-" type="file" multiple onchange="tryUploadImage('', event)">
				</span>
			</div>
		</div>
		<div id="content-container">
	        <textarea id="thread-content" rows="20"></textarea>
        </div>
	</div>

	<div id="tr-preview" style="display: none">
		<div id="article-content"></div>
	</div>

	<div>
		<ul>
			<!--[if lt IE 10]>
			<li>IE7,8,9 [[Upload image]]:
				<form method="post" action="/upload" target="_blank" enctype="multipart/form-data" encoding="multipart/form-data">
					<input name="image" type="file" id="form-uploader"/>
					<input name="direct" type="hidden" value="direct" />
					<input type="submit" value="上传" />
				</form>
			</li>
			<![endif]-->

			<li>
				<a href="/article/870" target="_blank">BBCode语法说明</a>，使用[html][/html]时
				<select>
					<option selected>[[Allowed HTML tags]]</option>
					<optgroup label="[[Allowed HTML tags]]">
						{{range $key, $value := .HTMLTags}}
						{{if $value}}<option disabled="disabled">{{$key}}</option>{{end}}
						{{end}}
					</optgroup>
					<optgroup label="[[Allowed tag attributes]]">
						{{range $key, $value := .HTMLAttrs}}
						{{if $value}}<option disabled="disabled">{{$key}}</option>{{end}}
						{{end}}
					</optgroup>
				</select>
			</li>
		</ul>
	</div>

</div>