{{if .Update}}
<title>编辑文章</title>
{{else}}
<title>发布文章</title>
{{end}}

<p id="breadcrumbs">
	{{if .Message}}
		发送私信至"{{.MessageReceiverName}}" | <a href='/user/{{.ReplyTo}}'>查看用户</a>
	{{else}}
		{{if .Update}}
			修改文章No.{{.ReplyTo}} | <a href='/article/{{.ReplyTo}}'>转到该文章</a>
		{{else}}
			{{if .ReplyTo}}
				回复文章No.{{.ReplyTo}} | <a href='/article/{{.ReplyTo}}'>转到该文章</a>
			{{else}}
				发布新文章
			{{end}}
		{{end}}
	{{end}}|
	身份:
	{{if .IsLoggedIn}}
		{{.Username}}
	{{else}}
		匿名
	{{end}}
</p>

{{if .Update}}
<span id="article-raw-content" style="display: none">
	{{.Article.Content}}
</span>
{{end}}

<script type="text/javascript">
	window.onload = (function() {
		etc.util.lazyLoad(["/assets/font.css"]);
		etc.editor.wrap("thread-content");
	    etc.id("thread-content").onpaste = function(event){
			var items = (event.clipboardData || event.originalEvent.clipboardData).items;

			for (index in items) {
			  	var item = items[index];
			  	if (item.kind === 'file') {
			    	var blob = item.getAsFile();
		    		Animation.start("uploading-sign");
					etc.editor.uploadImage([blob], function() {
						Animation.stop();
					}, {"editor": "thread-content"});
			  	}
			}
		}

		{{if .Message}}
			var sel = etc.get('#thread-tag option');
			for(var i in sel) {
				if (sel[i].innerHTML && sel[i].innerHTML[0] == "m") {
					sel[i].selected = true;
					etc.let.disable("thread-tag");
					break;
				}
			}
		{{else}}
			{{if .ReplyTo}}{{if .Update}}{{else}}
				var sel = etc.get('#thread-tag option');
				for(var i in sel) {
					if (sel[i].innerHTML && sel[i].innerHTML[0] == "r") {
						sel[i].selected = true;
						etc.let.disable("thread-tag");
						break;
					}
				}
			{{end}}{{end}}
		{{end}}

        {{if .Update}}
			etc.id("thread-title").value = etc.string.unescape("{{.Article.Title}}");
			etc.id("thread-content").innerHTML = (etc.string.unescape(etc.id("article-raw-content").innerHTML));
			var e = etc.id("thread-tag");
			for (var i = 0; i < e.options.length; i++) {
				if(e.options[i].value === "{{.Article.Tag}}") {
					e.selectedIndex = i;
					break;
				}
			}

			etc.util.ajax.get("/article/{{.Article.ID}}/history?" + new Date().getTime()).then(function(e, d, x){
				var j = JSON.parse(d);

				var _html = ["</ul>"];
				for(var k in j) {
					has = true;
					_html.push("<li data-onclick='getHistoryVersion(" + k + ")' onclick='etc.wait.onclick(this)'>" + 
						j[k].User + " - " + etc.date.format(j[k].Date, true) + "</li>");
				}
				_html.push("<li onclick='getHistoryVersion(-1)'><b>{{.Article.Author}} - 当前版本</b></li>");
				_html.push("<ul style='cursor: pointer'>");

				etc.id("article-history").innerHTML = _html.reverse().join('');
				etc.id("article-history-button").style.display = "inline";
				setupScroll();
			});
		{{else}}
			setInterval(saveDraft, 20000);
			var d = etc.util.read({{if .Message}}"draft-message-{{.ReplyTo}}"{{else}}"draft-{{.ReplyTo}}"{{end}});		
			if (d && d.length > 1) 
				etc.id("thread-content").html(d);

			setupScroll();
		{{end}}

		var te = etc.id("thread-title");
		te.onchange = te.onkeyup = te.onkeydown = te.onpaste = function() {
			etc.id("title-length").innerHTML = "(" + etc.string.utf8Len(te.value) + "/512)";
		}
  	});

	function setupScroll() {
		var elem = etc.id("editor-container");
		var t = elem.getBoundingClientRect().top;
		var dt = document.body.getBoundingClientRect().top;
		t = t - dt;

		window.onscroll = function(e) {

		    if (document.body.scrollTop > t) {
		        elem.setAttribute("style", "position:fixed;left:0;top:0");
		    } else {
		        elem.setAttribute("style", "");
		    }
		}
	}

	function tryPost(){
		var title = etc.id("thread-title").value;

		etc.util.ajax.post("/post/{{.ReplyTo}}", {
			"tag": etc.id("thread-tag").value,
			"title": title == "" ? "---" : title,
			"content": etc.id("thread-content").innerHTML,
			"update": "{{.Update}}",
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("发布成功");
				clearDraft(true);
				goBack();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	function tryPreview(){
		etc.util.ajax.post("/preview", {
			"content": etc.id("thread-content").innerHTML
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text.indexOf("Err::") == 0) {
				alert("发生错误: " + text);
			} else {
				etc.id("thread-content").innerHTML = text;
			}
		});

		return etc.wait.on(this);
	}

	function goBack() {
		var url = window.location.href.split("?");
		if (url.length < 2) 
			window.location.href = '/';
		else
			window.location.href = (url[1]);
	}

	function toggleHistoryList() {
		var ah = etc.id("article-history");
		
		if (ah.style.display == "none") {
			etc.let.show("article-history");
			etc.let.show("article-history-underlay");
		} else {
			etc.let.hide("article-history");
			etc.let.hide("article-history-underlay");
		}
	}

	function getHistoryVersion(id) {
		if (id == -1) {
			etc.wait.on(this).done();
			window.location.reload();
		}
		else
			etc.util.ajax.get("/article/{{.Article.ID}}/history/" + id).then(function(e,d,x){
				etc.wait.on(this).done();
				var j = JSON.parse(d);
				etc.id("thread-title").value = (etc.string.unescape(j.Title));
				etc.id("thread-content").innerHTML = (etc.string.unescape(j.Content));
				
				toggleHistoryList();
			});

		return etc.wait.on(this);
	}

	function editHTML() {
		if (etc.id("html-edit").attr("mode") == "wysiwyg") {
			etc.let.hide("tr-edit").disable("post-article").show("tr-edit-html");
			etc.id("html-edit").attr("mode", "html").innerHTML = "返回編輯";
			etc.id("thread-content-html").value = etc.id("thread-content").innerHTML;
		} else {
			etc.let.hide("tr-edit-html").show("tr-edit").enable("post-article");
			etc.id("html-edit").attr("mode", "wysiwyg").innerHTML = "HTML編輯";
			etc.id("thread-content").innerHTML = (etc.id("thread-content-html").value);
		}
	}

	function saveDraft() {
		{{if .Message}}
			var d = "draft-message-{{.ReplyTo}}";
		{{else}}
			var d = "draft-{{.ReplyTo}}";
		{{end}}
		etc.util.write(d, etc.id("thread-content").innerHTML);
		etc.id("save-draft").innerHTML = "草稿保存于 " + etc.date.now() + " " + d;
	}

	function clearDraft(p) {
		
		{{if .Message}}
			var d = "draft-message-{{.ReplyTo}}";
		{{else}}
			var d = "draft-{{.ReplyTo}}";
		{{end}}
		etc.util.storage.remove(d);

		if (p) return;

		alert("已清空: " + d);
		window.location.reload();
	}

	function formatHTML(){
		etc.util.lazyLoad([
			"/assets/html_beautify/beautify.js",
			"/assets/html_beautify/beautify-css.js",
			"/assets/html_beautify/beautify-html.js"
		], function() {
            etc.id("thread-content-html").value = 
            html_beautify(etc.id("thread-content-html").value, {
            	indent_size: 4,
            	indent_char: ' ',
            	max_preserve_newlines: 5,
            });
            etc.wait.on(this).done();
		});

		return etc.wait.on(this);
	}
</script>

<div id="editor">
	<div>
		标题:
		<span id="title-length"></span><br>
		<textarea id="thread-title" rows="2"></textarea>
	</div>
	<div>
		内容:
		<a id="article-history-button" style="display: none" href="javascript:toggleHistoryList()">回滚历史编辑</a>	
		<div id="article-history-underlay" onclick="toggleHistoryList()"></div>
		<div id="article-history" style="margin-top: 0; display: none"></div>
	</div>
	<div id="tr-edit">
		<div id="editor-container" unselectable="on">
			<div id="editor-outter-panel" unselectable="on">
				<div id="editor-panel" unselectable="on" style="overflow: hidden; padding: 0.33em; color: #ccc;">
					<span><span id="uploading-sign"></span>
					<a href="javascript:etc.id('file-uploader').click()" title="上传图片">&#xf093;</a>
					<a href="javascript:etc.id('file-uploader-imgur').click()" title="上传图片至imgur">&#xf03e;</a>
					<a href="javascript:openUploader()" title="打开新窗口上传图片（兼容）">&#xf14c;</a> <b>|</b>
					<a href="javascript:etc.editor.insertLink()" title="插入链接">&#xf0c1;</a>
					<a href="javascript:etc.editor.insertList('ol')" title="插入顺序列表">&#xf0cb;</a>
					<a href="javascript:etc.editor.insertList('ul')" title="插入列表">&#xf0ca;</a>
					<a href="javascript:etc.editor.insertTable()" title="插入表格">&#xf0ce;</a> <b>|</b>
					<a href="javascript:etc.editor.insertNode('heading', 'h2')" title="标题">&#xf1dc;</a>
					<a href="javascript:etc.editor.insertNode('Bold')" title="粗体">&#xf032;</a>
					<a href="javascript:etc.editor.insertNode('Italic')" title="斜体">&#xf033;</a>
					<a href="javascript:etc.editor.insertNode('Underline')" title="下划线">&#xf0cd;</a>
					<a href="javascript:etc.editor.insertNode('strikeThrough')" title="删除线">&#xf0cc;</a> <b>|</b>
					<a href="javascript:etc.editor.switchMonospace()" title="切换字体 (默认 <-> 等距)">&#xf121;</a>
					<a href="javascript:clearContent()" title="清空内容">&#xf057;</a>
					
					<input style="visibility: collapse; width: 0px;" id="file-uploader-imgur" type="file" multiple>
					<input style="visibility: collapse; width: 0px;" id="file-uploader" type="file" multiple>

					<script type="text/javascript">
						function clearContent() {
							if (confirm("是否清空内容")) etc.id("thread-content").innerHTML = "";
						}

						etc.id("file-uploader").onchange = function(e) { tryUploadImage('', e); }

						etc.id("file-uploader-imgur").onchange = function(e) { tryUploadImage('-imgur', e); }

						function tryUploadImage(imgur, e) {
							Animation.start("uploading-sign");
							etc.editor.uploadImage(etc.file('file-uploader' + imgur, e), function() {
								etc.id("file-uploader" + imgur).value = "";
								Animation.stop();
							}, {"editor": "thread-content", "imgur": imgur});
						}

						function openUploader() {
							var w = window.open("", "",
								"resizable=no, toolbar=no, scrollbars=no, menubar=no, status=no, directories=no, width=500, height=500");
							w.document.body.innerHTML = ['<form method="post" id="ie-upload-workaround" ',
							'action="https://www.libay.nl/upload" ',
							'enctype="multipart/form-data" encoding="multipart/form-data">',
							'<input name="image" type="file" id="form-uploader"/>',
							'<input name="direct" type="hidden" value="direct" />',
							'<input type="submit" value="上传" /></form>'].join('');
							
						}
						
					    window.ondragover = function(e) {e.preventDefault();}
					    window.ondrop = function(e) {
					    	e.preventDefault(); 

					    	Animation.start("uploading-sign");
					    	etc.editor.uploadImage(etc.file(e.dataTransfer.files), function() {
								Animation.stop();
							}, {"editor": "thread-content"});
					    }
					</script>
					</span>
				</div>
			</div>
		</div>
		<div id="content-container">
	        <div contenteditable="true" id="thread-content" style="min-height: 100px; padding: 4px;">
	        </div>
        </div>
	</div>

	<div id="tr-edit-html" style="display:none" colspan="2">
		<textarea rows="20" id="thread-content-html"></textarea>
		<button data-onclick="formatHTML()">HTML排版 (jsbeautifier)</button>
		<p style="font-size: 80%">
		允许HTML标签:
		{{range $key, $value := .HTMLTags}}
		{{if $value}}&lt;{{$key}}&gt;{{end}}
		{{end}}<br>
		允许标签属性:
		{{range $key, $value := .HTMLAttrs}}
		{{if $value}}:{{$key}}{{end}}
		{{end}}
		</p>
	</div>

	<div>
		<p>
			<select id="thread-tag">
				<option value="">--请选择标签--</option>
				<optgroup label="通用标签">
				{{range .Tags}}
					{{if .Visible}}
					<option value="{{.Name}}">{{.Short}}: {{.Name}}</option>
					{{end}}
				{{end}}
				</optgroup>
				{{if .IsLoggedIn}}
					<optgroup label="隐藏标签">
					{{range .Tags}}
						{{if .Visible}}{{else}}{{if .Restricted}}{{else}}
						<option value="{{.Name}}">{{.Short}}: {{.Name}}</option>
						{{end}}{{end}}
					{{end}}
					</optgroup>
					<optgroup label="限制标签">
					{{range .Tags}}
						{{if .Restricted}}
						<option value="{{.Name}}">
							{{.Short}}: {{.Name}} {{range .PermittedTo}}:{{.}} {{end}}
						</option>
						{{end}}
					{{end}}
					</optgroup>
				{{end}}
			</select>
		</p>
		<button data-onclick="tryPost()">{{if .Update}}修改{{else}}发布{{end}}</button>
		<button data-onclick="tryPreview()">预览</button>
		<button onclick="editHTML()" id="html-edit" mode="wysiwyg">HTML編輯</button>
		<button onclick="clearDraft()">清空草稿</button>
		<span id="save-draft"></span>
	</div>
	<div>
		<ul>
			<li>匿名身份只可以选择[a: 匿名]或[r: 回复区]标签</li>
			<li>回复一篇文章时内容不是必须的，可以把回复写在标题里。一般请选择[r: 回复区]标签</li>
			<li>
			使用Gist请编辑HTML并粘贴:<br> 
			&lt;script src="https://gist.github.com/xxx/1234567890abcdef1234567890abcdef.js"&gt;&lt;/script&gt;
			</li>
		</ul>
	</div>

</div>