</div>
<script type="text/javascript">
	function emailTo() {
		var e = document.querySelector("a.email").innerText.match(/(\w+)/g);
		window.open("mailto:" + e[0] + "@" + e[1] + "." + e[2]);
	}
</script>
<div id="footer">
	<div>[[Server]]: {{.Hostname}} ({{.Load}}), [[Run]]: {{.RunTime}}h, [[Avg]]: {{.AvgRenderTime}}ms

		<span style="display:none" id="csrf">{{.CSRF}}</span>
	</div>
	<hr>
	<div>
		[[To report any abuse, please contact at]]
		<a href="javascript:emailTo()" class="email">abuse&#65312;libay&#46;nl</a>。<br>

		[[Last update at]]: {{.CurTime}}
	</div>
</div>
</body>