<title>[[Gallery]]</title>

<p id="breadcrumbs">
	{{if .IsGlobal}}
		<span><span class='fai'>&#xe08d;</span>
		<span>[[Global Gallery]]</span></span>

		<span><span class='fai'>&#xe018;</span>
		<a href="/random" target="_blank">[[Random]]</a></span>		

	{{else}}{{if .IsAuthor}}
		<span><span class='fai'>&#xe08d;</span>
		<span>[[My Gallery]]</span></span>

	{{else}}
		<span><span class='fai'>&#xe08d;</span>
		<span>[[Gallery]]</span></span>

		<span><span class='fai'>&#xe12c;</span>
		<a href="/user/{{.GalleryUserID}}">{{.UploaderName}}</a></span>
	{{end}}{{end}}

	<span data-dropdown="gallery-function" data-dropdown-onload="focusSearch()" id="expand-gallery-function">
		{{if .IsSearch}}
		<span class='fai'>&#xe14f;</span> <span class="nc">[[Search]] "{{.SearchPattern}}"</span>
		{{else}}
		<span class='fai'>&#xe08c;</span> <span class="nc">[[Images]]</span>
		{{end}}
	</span>

	{{if not .IsSelf}}
		<span onclick="expandR18()" id="show-r18" data-r18="false"><span class='fai'>&#xe11b;</span>
		<span class="nc" id="show-r18-label">[[Show R18]]</span></span>

	{{end}}

	<script type="text/javascript">
		document.title += " -- " + etc.date.format({{.Nav.Range.End}});
		document.write(buildTime({{.Nav.Range.Start}}, {{.Nav.Range.End}}));
	</script>
</p>

<div id="gallery-function" class="dropdown contextmenu" style="width: 200px">
	<div>
		<input id="search-url" placeholder="[[Search]]" {{if .IsSearch}}value="{{.SearchPattern}}"{{end}}>
	</div>
	<ul>
		<li data-onclick="searchImage()">
		<span class='fai'>&#xe14f;</span> 
		<span>[[Search]]</span></li>

		{{if .IsSearch}}
		<li onclick="location.href='../../../page/1'">
		<span class='fai'>&#xe006;</span>
		<span>[[Back]]</span></li>
		{{end}}

		<li onclick="selectImages(true)"><span class='fai'>&#xe085;</span>
		<span class="nc">[[Select All]]</span></li>

		<li onclick="selectImages(null)"><span class='fai'>&#xe087;</span>
		<span class="nc">[[Unselect]]</span></li>

		<li onclick="selectImages(false)"><span class='fai'>&#xe086;</span>
		<span class="nc">[[Inverse Selection]]</span></li>

		{{if .IsSelf}}
		<li onclick="showRename()" id="go-rename"><span class='fai'>&#xe0c3;</span>
		<span>[[Batch rename selected]]</span></li>

		<li data-onclick="alterImages('~hide')"><span class='fai'>&#xe06f;</span>
		<span>[[Show/Hide selected]]</span></li>

		<li data-onclick="alterImages('~r18')"><span class='fai'>&#xe11b;</span>
		<span>[[Tag/Untag R18]]</span></li>

		<li data-onclick="alterImages('delete')">
		<span class='fai' style="color: #a0a">&#xe123;</span>
		<span style="color: #a0a">[[Delete selected]]</span></li>

		<li data-onclick="alterImages('archive')">
		<span class='fai' style="color: #a0a">&#xe004;</span>
		<span style="color: #a0a">[[Archive selected]]</span></li>

		{{else}}
		<li data-onclick="alterImages('flag')"><span class='fai'>&#xe123;</span>
		<span>[[Flag for deletion]]</span></li>

		{{end}}

		<li onmousemove="etc.let.hide(this).show('.copy-li');setTimeout((function(o){return function(){etc.let.show(o).hide('.copy-li')}}(this)),3000);" 
		style="text-align: center; font-size: 80%"><span class='fai'>&#xe118;</span></li>

		<li class="copy-li" style="display: none" onclick="copyImageCode('data')"><span class='fai'>&#xe04a;</span>
		<span>[[Copy]] [[data images]]</span></li>

		<li class="copy-li" style="display: none" onclick="copyImageCode('url')"><span class='fai'>&#xe04a;</span>
		<span>[[Copy]] [[original URL]]</span></li>

		<li class="copy-li" style="display: none" onclick="copyImageCode('bbcode')"><span class='fai'>&#xe04a;</span>
		<span>[[Copy]] [[original bbcode]]</span></li>

		<li class="copy-li" style="display: none" onclick="copyImageCode('md')"><span class='fai'>&#xe04a;</span>
		<span>[[Copy]] [[original markdown]]</span></li>
	</ul>
</div>

<div id="filename-keywords" class="dropdown">
	<div><input type="text"></div>
</div>

<div id="copy-code-div" style="display: none">
<textarea id="copy-code" class="image-code" rows="10"></textarea>
<button onclick="copyCode()"><span class='fai'>&#xe04a;</span></button>
<button onclick="etc.let.hide('copy-code-div')"><span class='fai'>&#xe122;</span></button>
</div>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}", "{{.Nav.LastDayPage}}"));

	function copyCode() {
		etc.id('copy-code').focus();
		etc.id('copy-code').select();
		document.execCommand('copy');
	}

	function focusSearch() {
		etc.id("search-url").focus();
		etc.id("search-url").select();
	}

	function selectImages(checked) {
		etc.get(".simple-check").forEach(function(e) {
			if (checked === true) {
				e.checked = checked;
			} else if (checked === null) {
				e.checked = false;
			} else if (checked === false) {
				e.checked = !e.checked;
			}
			e.parentNode.style.backgroundColor = e.checked ? "#77aa8b" : "#54638c";
			etc.id("info-" + etc.id(e).attr("data-id")).style.backgroundColor = e.checked ? "#ddd" : "#eee";
		});
	}

	function showRename() {
		var body = document.getElementsByTagName('body')[0];
		var width = etc.width();
		width = parseInt(width / 2);
		if (width < 200) width = 200;

		body.className += " stop-scrolling";
		var div = etc.let.show('rename-div').$;
		div.style.zIndex = 100;
		div.style.width = width + "px";
		div.style.marginLeft = "-" + (width / 2) + "px";
		var newTop = document.documentElement.scrollTop || document.body.scrollTop;
		div.style.top = (newTop + etc.height() / 3) + "px";

		div.querySelector(".dropdown").style.width = (width - 12) + "px";
		var input = div.querySelector("input");
		input.focus();
		input.select();

		etc.let.show("rename-div-underlay").$.onclick = function() {
			etc.let.hide("rename-div-underlay").hide("rename-div");
			body.className = body.className.replace(" stop-scrolling", "");
		}
	}

	function expandR18() {
		var r18 = etc.id("show-r18");
		if (r18.attr("data-r18") == "false") {
			etc.get("div[data-r18=true]").forEach(function(e) {
				e.className = e.className.replace("img-r18", "");
			});
			r18.attr("data-r18", "true");
			etc.id("show-r18-label").html("[[Hide R18]]");
			etc.util.cookie.write("r18", "1", 30 * 24 * 36000000);
		} else {
			etc.get("div[data-r18=true]").forEach(function(e) {
				e.className += " img-r18";
			});
			r18.attr("data-r18", "false");
			etc.id("show-r18-label").html("[[Show R18]]");
			etc.util.cookie.remove("r18");
		}
	}

	function alterImages(action, all) {
		var ids = [];
		var titles = [];

		etc.get(".simple-check").forEach(function(e) {
			if (e.checked || all) {
				var id = e.getAttribute("data-id");
				ids.push(id);
				titles.push(id + " -- " + e.getAttribute("data-title"));
			}
		});

		if (ids.length == 0) 
			return etc.wait.on(this).done();

		if (action == "delete" && !confirm("[[Confirm to delete]]: \n" + titles.join("\n"))) 
			return etc.wait.on(this).done();

		if (action == "archive" && !confirm("[[Archived images will be PERMANENTLY deleted from your gallery but remain visible through URLs]]\n[[Be sure to store URLs somewhere else before archiving them]]"))
			return etc.wait.on(this).done();			

		if (action == "rename" && etc.id("rename-images").value == "")
			return etc.wait.on(this).done();

		var column = "";
		if (action.charAt(0) == "~") {
			column = action.substr(1);
			action = "invert";
		}

		etc.util.ajax.post("/alter/images", { 
			"ids": ids.join(","),
			"id": "{{.GalleryUserID}}",
			"filename": etc.id("rename-images").value,
			"action": action,
			"column": column,
			"csrf": etc.util.CSRF() 
		}).then(function(e, text) {
			etc.wait.on(this).done();

			if (text == "ok") {
				if (action == "flag") alert("[[Operation completed]]");
				window.location.reload();
			} else {
				alert("[[Error: ]]" + text);
			}
		});

		return etc.wait.on(this);
	}

	function searchImage() {
		var url = etc.id("search-url").value;
		if (url == "") return etc.wait.on(this).done();

		etc.util.ajax.post("/search/image", { 
			"url": url,
			"id": "{{.GalleryUserID}}",
			"csrf": etc.util.CSRF() 
		}).then(function(e, text) {
			etc.wait.on(this).done();

			if (text.indexOf("ok::") > -1) {
				location.href = text.substr(4);
			} else {
				alert("[[Error: ]]" + text);			
			}
		});

		return etc.wait.on(this);
	}

	function copyImageCode(type) {
		var code = [];
		if (type == "data") code.push("[gallery]");

		etc.get(".simple-check").forEach(function(e) {
			if (e.checked) {
				var full = e.getAttribute("data-full");
				var title = e.getAttribute("data-title");

				switch (type) {
					case "url": code.push(full); break;
					case "bbcode": code.push("[img]" + full + "[/img]"); break;
					case "data": code.push(title + " [img=data]" + full + "[/img]"); break;
					case "md": code.push("![](" + full + ")"); break;
				}
			}
		});

		etc.let.show("copy-code-div");
		etc.id("copy-code").value = code.join("\n");
	}

	function checkChanged(id) {
		var c = etc.id("img-" + id);
		c.parentNode.style.backgroundColor = c.checked ? "#77aa8b" : "#54638c";
		etc.id("info-" + id).style.backgroundColor = c.checked ? "#ddd" : "#eee";
		etc.id("rename-images").value = c.attr("data-title");
	}

	etc.id("search-url").on("keydown", function(e) {
		if (e.which == 13 || e.keyCode == 13) searchImage();
	});
</script>

<style type="text/css">
	.simple-check:checked + label:before {
		color: white !important;
	}

	{{if not .IsSelf}}
	.img-r18 img {
		display: none !important;
	}

	.img-r18 {
		width: 200x !important;
		height: 200px !important;
	}

	.img-container.img-r18 span.r18 {
		display: block !important;
		width: 200px;
		height: 200px;
		line-height: 200px;
		vertical-align: middle;
		padding: 0;
		font-size: 42px;
		color: red;
	}
	{{else}}
	img[data-hide=true], img[data-r18=true] {
		opacity: 0.75;
		filter: alpha(opacity=75);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	}
	img[data-hide=true]:hover, img[data-r18=true]:hover {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	.img-container[data-hide=true] {
		background: #fff;
		background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
		background: -webkit-repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
		background: -o-repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
		background: -moz-repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
	}
	.img-container[data-r18=true] {
		background: #fff;
		background: repeating-linear-gradient(45deg, #f66, #f66 10px, #fff 10px, #fff 20px) !important;
		background: -webkit-repeating-linear-gradient(45deg, #f66, #f66 10px, #fff 10px, #fff 20px) !important;
		background: -o-repeating-linear-gradient(45deg, #f66, #f66 10px, #fff 10px, #fff 20px) !important;
		background: -moz-repeating-linear-gradient(45deg, #f66, #f66 10px, #fff 10px, #fff 20px) !important;
	}
	{{end}}
</style>

<div id="gallery">
	<div id="gallery-container">
	{{range .Images}}
	<div class="outter-image">
		<div class="image">
			<div>
				<div class="img-id">
					<div>{{.ID}}</div>
					<input 
						type="checkbox" 
						class="simple-check" 
						id="img-{{.ID}}" 
						data-id="{{.ID}}" 
						data-full="{{.Path}}" 
						data-thumb="{{.ThumbPath}}" 
						data-title="{{.Filename}}" 
						onchange="checkChanged({{.ID}})">
						
					<label for="img-{{.ID}}">{{.ShortName}}</label>
				</div>
				<div 
					class="img-container {{if .R18}}img-r18{{end}}" 
					onclick="etc.id('img-{{.ID}}').click()" 
					ondblclick="window.open('{{.Path}}')" 
					oncontextmenu="!etc.id('img-{{.ID}}').checked && etc.id('img-{{.ID}}').click()" 
					data-r18="{{.R18}}" 
					data-hide="{{.Hide}}">

					<img class="img-image" src="{{.ThumbPath}}" title="[[Double click to open]] {{.Filename}}" data-hide="{{.Hide}}" data-r18="{{.R18}}">
					<span class="fai r18">&#x0e03d;</span>
				</div>
			</div>

			<div class="date" id="info-{{.ID}}">
				<span><span class="fai">&#xe00b;</span> <a href="{{.Path}}" target="_blank">[[Open]]</a></span>
				<span><span class="fai">&#xe06e;</span> <span title="[[Views]]">{{.Hits}}</span></span>

				{{if $.IsGlobal}}
				<span><span class="fai">&#xe12c;</span>
				<a href="/gallery/{{.UploaderID}}/page/1">{{.Uploader}}</a></span>
				{{end}}

				<div>
					<span><script type="text/javascript">
					if ({{.Size}} < 1048576)
						document.write(parseInt({{.Size}} / 1024) + " KiB");
					else
						document.write(parseFloat({{.Size}} / 1048576).toFixed(2) + " MiB");
					</script></span>

					{{if .Hide}}
					<span><span class="fai">&#xe137;</span> [[Hide]]</span>
					{{end}}

					{{if .R18}}
					<span style="color: #f66"><span class="fai">&#xe137;</span> [[R18]]</span>
					{{end}}
				</div>

				<div><script type="text/javascript">
					document.write(etc.date.format({{.Timestamp}}, true));
				</script></div>
			</div>
		</div>
	</div>
	{{end}}
	</div>
</div>

<div id="rename-div">
	<div>[[Batch rename selected]]</div>

	<div class="dropdown dropdown-normal">
		<div><input id="rename-images" type="text"></div>
	</div>
	<div style="height: 28px"></div>

	<div style="text-align: center;">
	<button data-onclick="alterImages('rename')" style="height: 22px">[[OK]]</button>
	</div>
</div>
<div id="rename-div-underlay" class="dropdown-underlay"></div>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}", "{{.Nav.LastDayPage}}"));

	{{if not .IsSelf}}
	if (etc.util.cookie.read("r18") == "1") expandR18();
	{{end}}
</script>