<title>[[Gallery]]</title>

<p id="breadcrumbs">
	<span class='fai'>&#xe08d;</span> "{{.UploaderName}}" [[Gallery]]

	{{if .IsSelf}}
	| <span data-dropdown="gallery-function">
		<span class='fai'>&#xe072;</span> 
		<span class="nc">[[Images]]</span>
	</span>
	{{end}}

<script type="text/javascript">
	document.title += " -- " + etc.date.format({{.Nav.Range.End}});
	document.write(' | <span class="fai">&#xe0b0;</span> ' + etc.date.format({{.Nav.Range.Start}}) + 
	' | <span class="fai">&#xe0b6;</span> ' + etc.date.format({{.Nav.Range.End}}));
</script>
</p>

<div id="gallery-function" class="dropdown">
	<div>
		<input id="search-url" placeholder="[[Search by URL]]">
	</div>
	<ul>
		<li data-onclick="searchImage()"><span>[[Search]]</span></li>
		<li data-onclick="alterImages('delete')"><span class='fai'>&#xe123;</span>
		<span>[[Delete selected]]</span></li>
		<li data-onclick="alterImages('delete', true)"><span class='fai'>&#xe123;</span>
		<span>[[Delete all in this page]]</span></li>
		<li data-onclick="alterImages('showhide')"><span class='fai'>&#xe06f;</span>
		<span>[[Show/Hide selected]]</span></li>
		<li onclick="selectAll()"><span class='fai'>&#xe072;</span>
		<span>[[Select all]]</span></li>
		<li onclick="invertSelection()"><span class='fai'>&#xe072;</span>
		<span>[[Inverse selection]]</span></li>
	</ul>
</div>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}"));
</script>

<script type="text/javascript">
	function selectAll() {
		var checks = etc.get(".simple-check");

		for (var i = 0; i < checks.length; i++) {
			checks[i].checked = true;
		}
	}

	function invertSelection() {
		var checks = etc.get(".simple-check");

		for (var i = 0; i < checks.length; i++) {
			checks[i].checked = !checks[i].checked;
		}
	}

	function alterImages(action, all) {
		var checks = etc.get(".simple-check");
		var ids = [];

		for (var i = 0; i < checks.length; i++) {
			if (checks[i].checked || all) {
				ids.push(checks[i].getAttribute("data-id"));
			}
		}

		if (ids.length == 0) return etc.wait.on(this).done();
		if (action == "delete" && !confirm("[[Confirm to delete]]: " + ids.join(","))) 
			return etc.wait.on(this).done();

		etc.util.ajax.post("/alter/images", { 
			"ids": ids.join(","),
			"id": "{{.GalleryUserID}}",
			"action": action,
			"csrf": etc.util.CSRF() 
		}).then(function(e, text) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("[[Operation completed]]");
				window.location.reload();
			} else {
				alert("[[Error: ]]" + text);			
			}
		});

		return etc.wait.on(this);
	}

	function searchImage() {
		var url = etc.id("search-url").value;
		if (url == "") return etc.wait.on(this).done();

		etc.util.ajax.post("/search/image", { 
			"url": url,
			"csrf": etc.util.CSRF() 
		}).then(function(e, text) {
			etc.wait.on(this).done();

			if (text.indexOf("ok::") > -1) {
				location.href = text.substr(4);
			} else {
				alert("[[Error: ]]" + text);			
			}
		});

		return etc.wait.on(this);
	}
</script>

<div id="gallery">
	{{range .Images}}
		<div class="image">
			<div>
				<span class="img-id">{{.ID}}
					{{if .Hide}}<span class="fai">&#xe137;</span> [[Hide]]{{end}}
				</span>
				<a href="{{.Path}}" target="_blank"><img src="{{.ThumbPath}}"></a>
			</div>

			<div class="date">
				<input type="checkbox" class="simple-check" id="img-{{.ID}}" data-id="{{.ID}}">
				<label for="img-{{.ID}}"><script type="text/javascript">
				document.write(etc.date.format({{.Timestamp}}));
				</script></label>
			</div>
		</div>
	{{end}}
</div>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}", "{{.Nav.LastYearPage}}"));
</script>