<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script type="text/javascript" src="{{.CDN}}/assets/{{.MainJS}}"></script>
<link rel="stylesheet" type="text/css" href="{{.CDN}}/assets/{{.MainCSS}}">
<link rel='icon' type='image/png' href='{{.CDN}}/assets/favicon.png'>

<body>
<div id="header">
    <ul id="navibar">
        <li id="nv-index" class="link"><a href="/">[[Index]]</a></li>
        <li id="nv-articles" class="link"><a href="/page/1">[[All Articles]]</a></li>
        <li id="nv-article" class="link hide"><a>[[Article]]</a></li>
        <li id="nv-user-articles" class="link hide"><a>[[User Articles]]</a></li>
        <li id="nv-tag-articles" class="link hide"><a>[[Tagged Articles]]</a></li>
        <li id="nv-replies" class="link hide"><a>[[Article Replies]]</a></li>
        <li id="nv-tags" class="link"><a href="/tags">[[Tags]]</a></li>
        <li id="nv-new-article" class="link"><a href="/new/article/0">[[Post]]</a></li>
        <li id="nv-console" class="link"><a href="/account" id="nv-console-a">[[Console]]</a></li>
        <li id="nv-user" class="link hide"><a>[[User]]</a></li>
        <li id="nv-owa" class="link hide"><a>[[Iceberg]]</a></li>
        <li id="nv-messages" class="link hide"><a>[[Private Message]]</a></li>
        <li id="nv-register" class="link hide"><a>[[Register]]</a></li>
        <li id="nv-database" class="link hide"><a>[[Database]]</a></li>
        <li id="nv-config" class="link hide"><a>[[Config]]</a></li>
        <li id="nv-bootstrap" class="link hide"><a>[[Templates]]</a></li>
    </ul>
    <div id="pageline"><hr style="display:none;"></div>

    <script type="text/javascript">
        window.__title = "{{.Title}}";
        window.__cdn = "{{.CDN}}";
        window.__loadingImg = "{{.CDN}}/assets/images/loading.gif";
        window.__tickImg = "{{.CDN}}/assets/images/tick.png";
        window.__crossImg = "{{.CDN}}/assets/images/cross.png";
        window.__logoImg = "{{.CDN}}/assets/images/inazuma.svg";

        etc.id("{{.CurrentNav}}").className = "current"
        etc.id("nv-console-a").href += "?" + window.location.href;

        window.__unread = parseInt(etc.util.cookie.read("unread"));

        if (window.__unread > 0) {
            etc.id("nv-console-a").innerHTML += "(" + window.__unread + ")";
        }

        function traditionalization() {
            var lang = window.navigator.userLanguage || window.navigator.language;

            if (lang.toLowerCase() == "zh-tw" || etc.util.cookie.read("trad") == "1") {
                etc.util.cookie.write("trad", "1", 3600 * 24 * 1000);

                etc.util.lazyLoad([
                    "/assets/tongwen/tongwen_core.js",
                    "/assets/tongwen/tongwen_table_ps2t.js",
                    "/assets/tongwen/tongwen_table_s2t.js",
                    "/assets/tongwen/tongwen_table_ss2t.js",
                ], function() {
                    if (TongWen) 
                        TongWen.trans2Trad(document);
                });
            }
        }

        etc.onload(traditionalization);
    </script>
</div>

<div id="container">