<title>私信</title>
<p id="breadcrumbs">
{{if .Message.IsViewingAll}}
	所有私信
{{else}}
	{{if .Message.ViewingOtherName}}
		与用户"{{.Message.ViewingOtherName}}"的私信
	{{else}}
		系统信息
	{{end}}
{{end}}

<script type="text/javascript">
	document.title += " -- " + etc.date.format({{.Nav.Range.End}});
	document.write(' | 从: ' + etc.date.format({{.Nav.Range.Start}}) + 
		' | 至: ' + etc.date.format({{.Nav.Range.End}}));
</script>
</p>

<script type="text/javascript">
	function tryReadAll(n) {
		
		etc.util.ajax.post("/unread/message/" + n, {"csrf": etc.util.CSRF()}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				if (n == 0)
					alert("已标记所有消息为已读");
				else
					alert("已标记所有匿名(anonymous)发送者的系统消息为已读");

				window.location.reload();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	function tryDelete(id) {
		if (etc.id("ask-before-delete").checked) {
			if (!confirm("是否删除该私信\n\n" + 
					"(* 删除后对方仍可以看到该私信，但发件人变为匿名)\n" +
					"(** 您在管理面板的“全部文章”内仍可以看到该私信)")) {
				return etc.wait.on(this).done();
			}
		}

		etc.util.ajax.post("/delete/article/" + id + "/true", {
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert("已经删除该私信");
				window.location.reload();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	etc.util.cookie.remove("unread");
</script>

<div class="pager">
	{{if .IsIndexPage}}[ <b>首页</b> ]{{else}}
	[
	<a href="{{.IndexPage}}"> 首页 </a> |
	<a href="{{.Nav.PrevPage}}"> 上一页 </a>
	]
	{{end}}

	{{if .IsLastPage}}
	[ <b>尾页</b> ]
	{{else}}
	[
	<a href="{{.Nav.NextPage}}"> 下一页 </a> |
	<a href="{{.Nav.LastWeekPage}}" >周</a> |
	<a href="{{.Nav.LastMonthPage}}">月</a> |
	<a href="{{.LastPage}}" >尾页</a>
	]
	{{end}}
</div>

<table class="toa">
	<tr>
		<td><a href="javascript:void(0)" data-onclick="tryReadAll(0)">标记所有为已读</a></td>
		<td><a href="javascript:void(0)" data-onclick="tryReadAll(-1)">标记所有系统消息为已读</a></td>
		<td>
		<!--[if lte IE 8]>
		<style>
			#ask-before-delete { display: inline !important; }
			#ask-before-delete + label:before { display: none !important; }
			#ask-before-delete + label { color: black !important; text-decoration: none !important; }
		</style>
		<![endif]-->
		<input type="checkbox" id="ask-before-delete" class="simple-check" checked="true"/>

		<label for="ask-before-delete">删除前询问</label>
		</td>
	</tr>
</table>


<table id="articles">
	<tr>
	<th class="fit"></th><th style="text-align: left">标题</th><th colspan="2">操作</th>
	<th class="fit last">回复日期</th>
	</tr>
	{{range .Messages}}
	<tr class="darken">
		<td class="fit smaller header center">
		{{if .Sentout}}你{{else}}<a href="/user/{{.SenderID}}">{{.SenderName}}</a>{{end}}
		→
		{{if .Sentout}}<a href="/user/{{.ReceiverID}}">{{.ReceiverName}}</a>{{else}}你{{end}}
		</td>
		<td class="title">
			{{if .Sentout}}
			{{else}}
				{{if .Read}}
				{{else}}
					<badge>未读</badge>
				{{end}}
			{{end}}
			<a class="title" href="/article/{{.ID}}">{{.Title}}</a><br>
			<span class="time">
				<script type="text/javascript">document.write(etc.date.format({{.Timestamp}}));</script>
			</span>
		</td>
		<td class="fit">
		{{if .Sentout}}
			<a href="/message/{{.ReceiverID}}/page/1">历史</a>
		{{else}}
			<a href="/new/message/{{.SenderID}}">回复</a>
		{{end}}
		</td>
		<td class="fit"><a href="javascript:void(0)" data-onclick="tryDelete({{.ID}})">删除</a></td>
		<td class="fit last">
			<script type="text/javascript">document.write(etc.date.format({{.Timestamp}}));</script>
		</td>
	</tr>
	<tr>
	<td colspan="6"><span class="preview-content">{{.Preview}}</span></td>
	</tr>
	{{end}}
</table>

<div class="pager">
	{{if .IsIndexPage}}[ <b>首页</b> ]{{else}}
	[
	<a href="{{.IndexPage}}"> 首页 </a> |
	<a href="{{.Nav.PrevPage}}"> 上一页 </a>
	]
	{{end}}
	{{if .IsLastPage}}
	[ <b>尾页</b> ]
	{{else}}
	[
	<a href="{{.Nav.NextPage}}"> 下一页 </a> |
	<a href="{{.Nav.LastWeekPage}}" >周</a> |
	<a href="{{.Nav.LastMonthPage}}">月</a> |
	<a href="{{.LastPage}}" >尾页</a>
	]
	{{end}}
	
</div>