<title>[[Private Message]]</title>

<p id="breadcrumbs">
{{if .Message.IsViewingAll}}
	<span><span class='fai'>&#xe0a5;</span> 
	<span>所有私信</span></span>

{{else}}{{if .Message.ViewingOtherName}}
	<span><span class='fai'>&#xe12b;</span> 
	<span>"{{.Message.ViewingOtherName}}" [[Private Message]]</span></span>

{{else}}
	<span><span class='fai'>&#xe149;</span> 
	<span>系统消息</span></span>
		
{{end}}{{end}}

<span data-dropdown="message-function">
	<span class='fai'>&#xe074;</span>
	<span class='nc'>标记</span>
</span>

<span><input type="checkbox" id="ask-before-delete" class="simple-check" checked="true"/>
<label for="ask-before-delete"><span class='nc'>删除前询问</span></label></span>

<script type="text/javascript">
	document.title += " -- " + etc.date.format({{.Nav.Range.End}});
	document.write(buildTime({{.Nav.Range.Start}}, {{.Nav.Range.End}}));

	var nad = etc.util.cookie.read("nad");
	etc.id("ask-before-delete").checked = (nad == "0" || nad == "");
	etc.id("ask-before-delete").onchange = function() {
		etc.util.cookie.write("nad", etc.id("ask-before-delete").checked ? "0" : "1");
	}
</script>
</p>

<div id="message-function" class="dropdown">
	<ul>
		<li data-onclick="tryReadAll(0)"><span class='fai'>&#xe073;</span> <span>所有为已读</span></li>
		<li data-onclick="tryReadAll(-1)"><span class='fai'>&#xe073;</span> <span>所有系统消息为已读</span></li>
	</ul>
</div>

<script type="text/javascript">
	function tryReadAll(n) {
		
		etc.util.ajax.post("/unread/message/" + n, {"csrf": etc.util.CSRF()}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				if (n == 0)
					alert("已标记所有消息为已读");
				else
					alert("已标记所有匿名(anonymous)发送者的系统消息为已读");

				window.location.reload();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	function tryDelete(id, mode) {
		if (etc.id("ask-before-delete").checked) {
			if (mode) {
				if (!confirm("是否删除该私信\n\n" + 
						"(* 即便删除了私信, 其收件方仍可以看到它, 但发件人变为匿名)\n" +
						"(** 您在管理面板的“全部文章”内仍可以看到该私信)")) {
					return etc.wait.on(this).done();
				}
			} else {
				if (!confirm("是否删除其发来的全部私信")) {
					return etc.wait.on(this).done();
				}
			}
		}

		etc.util.ajax.post(
			mode ? ("/delete/article/" + id + "/true") : ("/delete/messages/from/" + id), {
			"csrf": etc.util.CSRF()
		}).then(function(error, text, xhr) {
			etc.wait.on(this).done();

			if (text == "ok") {
				alert(mode ? "已经删除该私信" : "已经删除其发来的全部私信");
				window.location.reload();
			} else {
				alert("发生错误: " + text);
			}
		});

		return etc.wait.on(this);
	}

	etc.util.cookie.remove("unread");
</script>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}"));
</script>

<table id="articles">
	{{range .Messages}}
	<tr class="darken">
		<td class="fit smaller header center">
		{{if .Sentout}}你{{else}}<a target="_blank" href="/user/{{.SenderID}}">{{.SenderName}}</a>{{end}}
		→
		{{if .Sentout}}<a target="_blank" href="/user/{{.ReceiverID}}">{{.ReceiverName}}</a>{{else}}你{{end}}
		</td>
		<td class="title">
			<span data-dropdown="m{{.ID}}" class="fai">{{if .Sentout}}&#xe126;{{else}}&#xe065;{{end}}</span>
			<div id="m{{.ID}}" class="dropdown">
				<ul>
					{{if .Sentout}}
					<li onclick="location.href='/message/{{.ReceiverID}}/page/1'">
					{{else}}
					<li onclick="location.href='/message/{{.SenderID}}/page/1'">
					{{end}}
					<span class="fai">&#xe0b9;</span>
					<span>查看与其对话记录</span></li>

					{{if .Sentout}}
					{{else}}
						<li onclick="window.open('/new/message/{{.SenderID}}')">
						<span class="fai">&#xe00b;</span>
						<span>回复私信</span></li>

						<li data-onclick="tryDelete({{.SenderID}}, false)">
						<span class="fai">&#xe123;</span> 
						<span>删除其发来的全部私信</span></li>
					{{end}}

					<li data-onclick="tryDelete({{.ID}}, true)">
					<span class="fai">&#xe123;</span> 
					<span>删除该条</span></li>
				</ul>
			</div>
			{{if .Sentout}}
			{{else}}
				{{if .Read}}
				{{else}}
					<span class="fai" title='未读消息'>&#xe09a;</span>
				{{end}}
			{{end}}
			<a class="title" href="/article/{{.ID}}">{{.Title}}</a><br>
			<span class="time">
				<script type="text/javascript">document.write(etc.date.format({{.Timestamp}}));</script>
			</span>
		</td>
		<td class="fit last">
			<script type="text/javascript">document.write(etc.date.format({{.Timestamp}}));</script>
		</td>
	</tr>
	<tr>
	<td colspan="3"><span class="preview-content">{{.Preview}}</span></td>
	</tr>
	{{end}}
</table>

<script type="text/javascript">
	document.write(buildPager({{.IsIndexPage}}, {{.IsLastPage}},
		"{{.IndexPage}}", "{{.LastPage}}", "{{.Nav.PrevPage}}", "{{.Nav.NextPage}}",
		"{{.Nav.LastWeekPage}}", "{{.Nav.LastMonthPage}}"));
</script>