<title>[[Sign up]]</title>
<p id="breadcrumbs">
    <span><span class='fai'>&#xe128;</span> <span>[[Sign up]]</span></span>
    <span><span class='fai'>&#xe097;</span> <a href="/account">[[Already have one]]?</a></span>
</p>

<script type="text/javascript">
    var returnURL = "/";

    var tryReg = function(){
        etc.let.hide("reg-result");

        etc.util.ajax.post("/register", {
            "username": etc.id("username").value, 
            "nickname": etc.id("nickname").value,
            "simple-password": etc.id("simple-password").value, 
            "hint": etc.id("password-hint").value, 
            "captcha-challenge": etc.id("captcha-img").attr("challenge"),
            "captcha-answer": etc.id("captcha-answer").value,
            "csrf": etc.util.CSRF(),
        }).then(function (e, data, x) {
            etc.wait.on(this).done();

            if (data.indexOf("ok") >= 0){
                window.location.href = "/account";
            } else {
                etc.let.show("reg-result").$.innerHTML = "[[Error: ]]" + data;
                refreshCaptcha();
            }
        });

        return etc.wait.on(this);
    }

    function refreshCaptcha() {
        Animation.start("loading-captcha");
        etc.util.ajax.get("/new/captcha").then(function(e, d){
            etc.id("captcha-img").src = "/get/captcha/" + d;
            etc.id("captcha-img").attr("challenge", d);

            Animation.stop();
        })
    }

    window.onload = function() {
        var q = (window.location.href).split("?");
        if (q.length > 1) {
            returnURL = q[1];
        }
        refreshCaptcha();
    }

</script>
  
<table class="_table" style="max-width: 600px">
    <style type="text/css">
        input {
            max-width: 300px;
        }
    </style>
    
    {{if .IsOpen}}{{else}}
    <tr><td class="right-align fit">[[Current state]]:</td><td>[[Closed]]</td></tr>
    {{end}}
    
    <tr><td class="right-align fit">[[Username]]:</td><td><input type="textbox" id="username" class="_f" /></td></tr>
    <tr><td></td><td class="smaller">* [[Enter username to sign in (4-64 chars)]]</td></tr>

    <tr><td class="right-align fit">[[Nickname]]:</td><td><input type="textbox" id="nickname" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* [[Publicly displayed name (4-64 chars)]]</td></tr>

    <tr><td class="right-align fit">[[Password]]:</td><td><input type="textbox" id="simple-password" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* [[Case sensitive (4-64 chars)]]</td></tr>

    <tr><td class="right-align fit">[[Password Hint]]:</td><td><input type="textbox" id="password-hint" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* [[Hint displayed when wrong password typed]]</td></tr>

    <tr>
        <td class="right-align fit"><span id="loading-captcha"></span></td>
        <td><img onclick="refreshCaptcha()" id="captcha-img" src="" style="cursor: pointer;"></td>
    </tr>
    <tr><td class="right-align fit">[[Captcha]]:</td><td><input id="captcha-answer" value=""></td></tr>

    <tr><td class="right-align fit">[[EULA]]:</td><td>---</td></tr>

    <tr><td></td><td>
    <button data-onclick="tryReg()">[[I agree and sign up]]</button>
    </td></tr>

    <tr><td colspan="2" id="reg-result">
    </td></tr>
</table>