<title>用户注册</title>
<p id="breadcrumbs">用户注册 | <a href="/account">已有账号?</a></p>

<script type="text/javascript">
    var returnURL = "/";

    var tryReg = function(){
        etc.let.hide("reg-result");

        etc.util.ajax.post("/register", {
            "username": etc.id("username").value, 
            "nickname": etc.id("nickname").value,
            "simple-password": etc.id("simple-password").value, 
            "hint": etc.id("password-hint").value, 
            "captcha-challenge": etc.id("captcha-img").attr("challenge"),
            "captcha-answer": etc.id("captcha-answer").value,
            "csrf": etc.util.CSRF(),
        }).then(function (e, data, x) {
            etc.wait.on(this).done();

            if (data.indexOf("ok") >= 0){
                window.location.href = "/account";
            } else {
                etc.let.show("reg-result").$.innerHTML = "注册失败: " + data;
                refreshCaptcha();
            }
        });

        return etc.wait.on(this);
    }

    function refreshCaptcha() {
        Animation.start("loading-captcha");
        etc.util.ajax.get("/new/captcha").then(function(e, d){
            etc.id("captcha-img").src = "/get/captcha/" + d;
            etc.id("captcha-img").attr("challenge", d);

            Animation.stop();
        })
    }

    window.onload = function() {
        var q = (window.location.href).split("?");
        if (q.length > 1) {
            returnURL = q[1];
        }
        refreshCaptcha();
    }

</script>
  
<table class="_table" style="max-width: 600px">
    <style type="text/css">
        input {
            max-width: 300px;
        }
    </style>
    
    {{if .IsOpen}}{{else}}
    <tr><td class="right-align fit">当前状态:</td><td>关闭注册</td></tr>
    {{end}}
    
    <tr><td class="right-align fit">用户名:</td><td><input type="textbox" id="username" class="_f" /></td></tr>
    <tr><td></td><td class="smaller">* 用户名用于登入 (4-64位数字字母组合)</td></tr>

    <tr><td class="right-align fit">昵称:</td><td><input type="textbox" id="nickname" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* 公开显示的昵称 (4-64位字符, 1中文字符=3bit)</td></tr>

    <tr><td class="right-align fit">密码:</td><td><input type="textbox" id="simple-password" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* 登入密码 (区分大小写, 4-64位字符)</td></tr>

    <tr><td class="right-align fit">密码提示:</td><td><input type="textbox" id="password-hint" class="_f"/></td></tr>
    <tr><td></td><td class="smaller">* 输错密码时的提示 (4-64位字符)</td></tr>

    <tr>
        <td class="right-align fit"><span id="loading-captcha"></span></td>
        <td><img onclick="refreshCaptcha()" id="captcha-img" src="" style="cursor: pointer;"></td>
    </tr>
    <tr><td class="right-align fit">验证:</td><td><input id="captcha-answer" value=""></td></tr>

    <tr><td class="right-align fit">用户协议:</td><td>并没有</td></tr>

    <tr><td></td><td>
    <button data-onclick="tryReg()">同意协议并注册</button>
    </td></tr>

    <tr><td colspan="2" id="reg-result">
    </td></tr>
</table>