<title>标签组</title>
<p id="breadcrumbs">
<span class='fai'>&#xe077;</span>
{{.TotalTags}}个标签 |

<span class='fai'>&#xe110;</span>
最近更新:
{{range .HotTags}}
	<span class='fai'>&#xe10f;</span> <a href="/tag/{{.}}/page/1">{{.}}</a>
{{end}}
</p>

<script type="text/javascript">
	function toggleDesc() {
		var ds = etc.get(".tag-description");
		for (var i = 0; i < ds.length; i++) {
			if (ds[i].style.display == "none")
				ds[i].style.display = "block";
			else
				ds[i].style.display = "none";
		}
	}
</script>

<ul class="tags">
	{{range .Tags}}
		{{if .Visible}}
			<li><b>{{.Short}}</b>:
				<a href="/tag/{{.Name}}/page/1" class="title block inline-block">{{.Name}}</a><br>
				{{if .Restricted}}<div>限制为{{range .PermittedTo}} [{{.}}]{{end}} 浏览</div>{{end}}
				<div class="tag-description">
					{{.Description}}
				</div>
			</li>
		{{else}}
			{{if $.IsLoggedIn}}
			<li type="circle"><b>{{.Short}}</b>:
				<a href="/tag/{{.Name}}/page/1" class="title block inline-block flatten">{{.Name}}</a><br>
				
				{{if .Restricted}}<div>限制为{{range .PermittedTo}} [{{.}}]{{end}} 浏览</div>{{end}}
				<div class="tag-description">
					{{.Description}}
				</div>
			</li>
			{{end}}
		{{end}}
	{{end}}
</ul>
<br style="clear: both">