<title>标签组</title>
<p id="breadcrumbs">标签组 | 
<a href="javascript:toggleDesc()">显示隐藏描述</a>
</p>

<script type="text/javascript">
	function toggleDesc() {
		var ds = etc.get(".tag-description");
		for (var i = 0; i < ds.length; i++) {
			if (ds[i].style.display == "none")
				ds[i].style.display = "block";
			else
				ds[i].style.display = "none";
		}
	}
</script>


最近更新:
<ul class="tags">
	{{range .HotTags}}
	<li><a href="/tag/{{.}}/page/1">{{.}}</a></li>
	{{end}}
</ul>
<br style="clear: both">
<br>

全部标签:
<ul class="tags">
	<li>
		<a href="/playground" class="title"><b>play</b>: Playground</a><br>
	</li>
	{{range .Tags}}
		{{if .Visible}}
			<li><b>{{.Short}}</b>:
				<a href="/tag/{{.Name}}/page/1" class="title">{{.Name}}</a><br>
			<div class="tag-description">
				{{.Description}}
			</div>
			</li>
		{{else}}
			{{if $.IsLoggedIn}}
			<li type="circle"><b>{{.Short}}</b>:
				<a href="/tag/{{.Name}}/page/1" class="title"><em>{{.Name}}</em></a><br>
				{{if .Restricted}}<div>限制为{{range .PermittedTo}} :{{.}}{{end}}</div>{{end}}
				<div class="tag-description">
					{{.Description}}
				</div>
			</li>
			{{end}}
		{{end}}
	{{end}}
</ul>
<br style="clear: both">