<title>标签组</title>
<p id="breadcrumbs">
	<span><span class='fai'>&#xe077;</span>
	<span>{{.TotalTags}}个标签</span></span>

	<span><span class='fai'>&#xe110;</span>
	<span>最近更新:</span></span>

	{{range .HotTags}}
	<span><span class='fai'>&#xe10f;</span> <a href="/tag/{{.}}/page/1">{{.}}</a></span>
	{{end}}	
</p>

<script type="text/javascript">
	function toggleDesc() {
		var ds = etc.get(".tag-description");
		for (var i = 0; i < ds.length; i++) {
			if (ds[i].style.display == "none")
				ds[i].style.display = "block";
			else
				ds[i].style.display = "none";
		}
	}
</script>

<style type="text/css">
	td.tag-name { min-width: 50px;}
</style>

<table id="articles">
	<tr>
		<th class="fit center">ID</th>
		<th class="fit center"></th>
		<th style="text-align: left">标签</th>
		<th class="fit center"><span class="fai">&#xe06f;</span></th>
		<th class="fit center"><span class="fai">&#xe062;</span></th>
		<th class="fit last">限制</th>
		<th class="fit">描述</th>
		<th class="fit">公告</th>
	</tr>
	<tr class="darken">
		<td class="fit header center"><span class='fai'>&#xe105;</span></td>
		<td class="fit center">-</td>
		<td class="tag-name reply" onclick="location.href='/page/1'">[[All Articles]]</td>
		<td class="fit center">-</td>
		<td class="fit center">-</td>
		<td class="fit last">-</td>
		<td class="fit">-</td>
		<td class="fit center">-</td>
	</tr>
	<tr><td colspan="8"></td></tr>
	{{range .Tags}}
		{{if or .Visible $.IsLoggedIn}}
		<tr class="darken">
			<td class="fit header center">{{.ID}}</td>
			<td class="fit center">{{.Short}}</td>
			<td class="tag-name reply" onclick="location.href='/tag/{{.Name}}/page/1'">{{.Name}}</td>
			<td class="fit center">
				{{if .Visible}}
				<span class="fai">&#xe11e;</span>
				{{else}}
				<span class="fai" style="color: #ccc">&#xe122;</span>
				{{end}}
			</td>
			<td class="fit center">
				{{.Children}}
			</td>
			<td class="fit last">
				{{if .Restricted}}
					限制为{{range .PermittedTo}} [{{.}}]{{end}} 浏览
				{{else}}
					-
				{{end}}
			</td>
			<td class="fit">{{.Description}}</td>
			<td class="fit center">
				{{if .AnnounceID}}
				<a target="_blank" href="/article/{{.AnnounceID}}">{{.AnnounceID}}</a>
				{{else}}
				-
				{{end}}
			</td>
		</tr>
		<tr><td colspan="8"></td></tr>
		{{end}}
	{{end}}
</table>