<p id="breadcrumbs">
    <span><span class='fai'>&#xe036;</span> 
    <span>{{.User.NickName}}</span></span>

    <span><span class='fai'>&#xe0bf;</span>
    <a href="/ua/{{.User.ID}}/page/1">[[User Articles]]</a></span>

    <span><span class='fai'>&#xe08d;</span>
    <a href="/gallery/{{.User.ID}}/page/1">[[Gallery]]</a></span>

    <span><span class='fai'>&#xe0a5;</span>
    <a href="/new/message/{{.User.ID}}">[[Private Message]]</a></span>
</p>

<title>[[User]] -- {{.User.NickName}}</title>

<div class="_float" style="max-width: 300px">
    <a href="{{.User.Avatar}}"><img src="{{.User.AvatarThumb}}" style="max-height: 200px; max-width: 200px;"></a>
</div>

<div class="_float">
    <table class="_table">
        <tr><td class="right-align fit">[[User]]:</td><td>{{.User.NickName}} (No.{{.User.ID}})</td></tr>
        <tr><td class="right-align fit">[[User State]]:</td><td>{{.User.Status}}</td></tr>
        <tr><td class="right-align fit">[[User Group]]:</td><td>{{.User.Group}}</td></tr>
        <tr><td class="right-align fit">[[Signup Date]]:</td><td>
            <script type="text/javascript">
            document.write(etc.date.format({{.User.SignUpDate}} * 1000, true))
            </script>
        </td></tr>
        <tr><td class="right-align fit">[[Last Login]]:</td><td>
            <script type="text/javascript">
            document.write(etc.date.format({{.User.LastLoginDate}} * 1000,  true))
            </script>
        </td></tr>
        <tr><td class="right-align fit">[[Disk Size]]:</td><td>
        <script type="text/javascript">
        document.write(({{.User.ImageUsage}} / 1024 / 1024).toFixed(2) + " MiB ({{.User.ImageUsage}} [[bytes]])");
        </script>
        </td></tr>

        <tr><td class="right-align fit">[[Expose Hidden]]:</td><td>{{.User.GalleryVisible}}</td></tr>
    </table>
</div>

<hr style="clear: both">

{{if .User.Index.Content}}
<div id="article-content">{{.User.Index.Content}}</div>
{{else}}
暂无用户页
{{end}}

<br style="clear: both">