<p id="breadcrumbs">
    <span><span class='fai'>&#xe036;</span> {{.User.NickName}}</span>

    <span><span class='fai'>&#xe0bf;</span>
    <a href="/ua/{{.User.ID}}/page/1">[[User Articles]]</a></span>

    <span><span class='fai'>&#xe08d;</span>
    <a href="/gallery/{{.User.ID}}/page/1">[[Gallery]]</a></span>

    <span><span class='fai'>&#xe0a5;</span>
    <a href="/new/message/{{.User.ID}}">[[Private Message]]</a></span>
</p>

<title>[[User]] -- {{.User.NickName}}</title>

<table class="_table" >
    <tr>
        <td colspan="2">
            <a href="{{.User.Avatar}}"><img src="{{.User.AvatarThumb}}"></a>
        </td>
    </tr>
    <tr><td class="right-align fit">用户:</td><td>{{.User.NickName}} (No.{{.User.ID}})</td></tr>
    <tr><td class="right-align fit">用户状态:</td><td>{{.User.Status}}</td></tr>
    <tr><td class="right-align fit">用户组:</td><td>{{.User.Group}}</td></tr>
    <tr><td class="right-align fit">注册时间:</td><td>
        <script type="text/javascript">
        document.write(etc.date.format({{.User.SignUpDate}} * 1000, true))
        </script>
    </td></tr>
    <tr><td class="right-align fit">上次登入:</td><td>
        <script type="text/javascript">
        document.write(etc.date.format({{.User.LastLoginDate}} * 1000,  true))
        </script>
    </td></tr>
    <tr><td class="right-align fit">上传图片:</td><td>
    <script type="text/javascript">
    document.write(({{.User.ImageUsage}} / 1024 / 1024).toFixed(2) + " MiB ({{.User.ImageUsage}} 字节)");
    </script>
    </td></tr>
    <tr><td class="right-align fit">用户备注:</td><td>{{.User.Comment}}</td></tr>
</table>

